<template name="add_commentaire">
	<div class="" id="show-com">
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        
                    </div>
           
                    <h4><a href="#" style="text-decoration:none;"><strong>Ajouter un commentaire</strong></a> <small><small>
                    <i> Visible par tous les utilisateurs</i></small></small></h4>
                    
                    <hr>
                    <div class="post-content">
                       <form enctype="multipart/form-data" action="" method="post" id="com">
                        <fieldset>                        
                           <textarea id="idcom" name="commentaire" class="form-control" style="height:250px;" required>  </textarea><br>
                            <br>
                            <div class="input-conseillere">
                           
                            <input type="submit" name="submit" value="Valider" id="" class="btn btn-success submit1"/>
                           </div>
                        </fieldset>
                        </form>
                    </div>
                  
                </div>
            </div>


       </div>

</template>