<template name="alerte">
    <div class="tab-pane " id="tab11">
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        
                    </div>
                 
                    <h4><a href="#" style="text-decoration:none; color: red;"><strong>Alertes</strong></a> <small><small>
                    <i> Visible par tous les utilisateurs</i></small></small></h4>
                    
                    <hr>
                    <div class="post-content">
                       Les alertes sont réservées aux situations les plus graves (agressions, viols, harcèlements...).
                       <br><br>
                       En créant une alerte, <u><strong> tout le monde</strong> </u> recevra ton message, tu aura ainsi très rapidement du soutien.
                       <br><br>
                       <span class="attention"> ATTENTION : Tu n'as le droit qu'à une seule alerte ! </span>
                    </div>
                  


                    {{#if my_id this._id}}
                    <div class="media">
                        <div class="pull-left">
                        </div>
                        <div class="media-body">
                            <ul class="nav nav-pills">
                              <li class="active" style="display: none;"><a href="#taba" data-toggle="tab">Programme</a></li>
                            {{#if deja_alerte}}
                              <li style="float: right;"><a href="#exp1" class="t22" data-toggle="tab">Créer une alerte</a></li>
                            {{/if}}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active " id="taba" ></div>
                                <div class="tab-pane " id="exp1" >
                                
                                <form enctype="multipart/form-data" action="" method="post" id="2alertes">
                                
                                    <div class="form-group">
                                    <label for="exampleInputEmail1">Titre</label>
                                    <input type="text" class="form-control" name="titre-alerte" id="titre-alerte" required placeholder="Titre">
                                  </div>    <br>             
                                   <div class="form-group">
                                    <label for="exampleInputEmail1">Mon message</label>
                                    <textarea class="form-control" rows="10" placeholder="Explique ton histoire..." required id="alerte" name="alerte1"></textarea>
                                  </div>
                                
                                <br>
                                <div class="input-conseillere">
                               
                                <input type="submit" name="submit" value="Valider" class="btn btn-success submit1" id="2alertes"/>
                               </div>
                           
                            </form>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
          
            {{#each les_alertes}}
               {{#if dont_show_alert _id}}
                    {{> ItemAlerte}}
                {{/if}}   
            {{/each}}
          
         

       </div>

</template>


<template name="ItemAlerte">
    

    <div class="tab-pane" id="" >
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        
                    </div>
                    <div class="titre_histoires">{{titre_alerte}} </div>
                    
                    <hr>
                    <div class="post-content">
                        {{{breaklines alerte}}}
                    </div>
                    <div>
                        <div class="pull-right btn-group-xs nav nav-pills">
                            {{#if my_id this.author_id}}{{else}}
                            <div class="repondre btn btn-danger btn-sm delete_alerte" ><i class="fa fa-times" aria-hidden="true"></i></div>
                            <div class="repondre btn btn-sm btn-success"><a href="{{pathFor 'messagerie' post_author=this.author_id }}">Aider</a></div>                   
                            {{/if}}

                            {{#if my_id this.author_id}}
                            <a href="#modif" class="btn btn-success modifier_alerte" data-toggle="tab"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            {{/if}}
                        </div>
                      
                        <br>
                    </div>
                            <div class="tab-content">
                                <div class="tab-pane active " id="taba" ></div>
                                <div class="tab-pane hist" id="modifAlerte" >
                                    <form enctype="multipart/form-data" action="" method="post" id="al">
                                    <fieldset>                        
                                    <label><strong>Modifier</strong></label>
                                     <textarea id="" name="modif_alerte" class="form-control" style="height:250px;" required> {{ alerte}} </textarea><br>
                                    
                                    <br>
                                    <div class="input-conseillere">
                                   
                                    <input type="submit" name="submit" value="Valider" id="hist" class="btn btn-success submit1"/>
                                   </div>
                                </fieldset>
                                </form>
                            </div>
                            </div>
                            

                </div>
            </div>
       </div>

</template>