<template name="personne_aide">
{{>profil}}
	<div class="tab-pane " id="tab5">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">
                    <div class="pull-left">
                        
                    </div>

                    <h4><a href="#" style="text-decoration:none;"><strong>Personnes aidées</strong></a></h4>
                    
                </div>
            </div>

                    {{#each liste_personne}}
                      {{> commentsItem}}
                    {{/each}}

    </div>

</template>

<template name="commentsItem">      
        
    <div class="message-gauche">                       

      <div class="container-messages-gauche">
        {{#if gender_garcon}} 
             <div class="titre_message_container"><div class="username_garcon" >{{post_author_name}}</div></div> 
        {{/if}}

        {{#if gender_fille}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{post_author_name}}</div></div> 
        {{/if}}

            <div class="content-message-gauche"> {{breaklines body}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{date_francais submitted}}</div>  
                
                <div class="nbr-reponse"></div>

              {{#if my_id this.userId}}
                 <div class="repondre profil_ami btn btn-success btn-sm"><a href="{{pathFor 'messagerie'}}" class="">Message</a></div>
              {{/if}}

           </div>
               
        </div>

    </div>

</template>