<template name="presentation">
	
<div class="tab-pane active" id="tab1">
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                    </div>
                    <h4 class="titre-profil "><strong>Ma présentation</strong>  <small><small>
                    <i><!--<i class="fa fa-clock-o" aria-hidden="true"></i>--> Visible par tous les utilisateurs</i></small></small></h4>
                   <!-- <span>
                        <div class="navbar-right">
                            <div class="dropdown">
                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                    <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </span>-->
                    <hr>
                    <div class="post-content ">
                        {{{breaklines currentUser.profile.presentation}}}
                    </div>
                    <!--<hr>
                    <div>
                        <div class="pull-right btn-group-xs">
                            <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                            <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                            <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                        </div>
                        <div class="pull-left">
                            <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                        </div>
                        <br>
                    </div>
                    <hr>-->
                    <div class="media">
                        <div class="pull-left">
                        </div>
                        <div class="media-body">
	                        <ul class="nav nav-pills">
							  <li class="active" style="display: none;"><a href="#taba" data-toggle="tab">Programme</a></li>
							  <li style="float: right;"><a href="#tabb" class="taba" data-toggle="tab">Modifier</a></li>
							</ul>
							<div class="tab-content">
	  							<div class="tab-pane active " id="taba" ></div>
	                        	<div class="tab-pane " id="tabb" >
	                            
                                <form enctype="multipart/form-data" action="" method="post" id="1">
	                            <fieldset>                        
		                        <label><strong>Présentation</strong></label>
		                         <textarea id="" name="presentation" class="form-control" style="height:250px;" required> {{   currentUser.profile.presentation}} </textarea><br>
		                        
		                        <br>
		                        <div class="input-conseillere">
		                       
		                        <input type="submit" name="submit" value="Valider" id="1" class="btn btn-success submit1"/>
		                       </div>
		                    </fieldset>
		                    </form>
	                        
                            </div>
	                        </div>
						</div>
                    </div>
                </div>
            </div>
       </div>

</template>