<template name="profil">
{{calcul_confiance _id}}

<div class="container-messages-profil">

<div class="mainbody container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;"> {{username}} <small></small> </h1>
                         {{#if my_id this._id}}
                             <div class="dropdown pull-right">
                            <button class="btn {{is_disponible}} btn-sm dropdown-toggle disponible" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="disponible">   
                               {{disponible_text}}
                            </button>
                            </div>
                            <div class="dropdown pull-right" style="clear: both;">{{explication}}</div>
                         {{else}}
                          <div class="dropdown pull-right">
                            <button class="btn btn-success btn-sm dropdown-toggle {{request}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande">
                                {{en_attente}}
                            </button>
                        </div>
                        
                         <div class="dropdown pull-right show-com add-com">
                            <button class="btn btn-warning btn-sm dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="">
                                Laisser un commentaire
                            </button>
                        </div>
                        
                           {{#if user_not_disponible _id}}
                             <div class="dropdown pull-right "><a href="">
                                <button class="btn btn-primary btn-sm disabled " type="button"  id="">
                                    Contacter
                                </button></a>
                            </div>
                            {{else}}
                             <div class="dropdown pull-right "><a href="{{pathFor 'messagerie' post_author=this._id}}">
                                <button class="btn btn-primary btn-sm  " type="button"  id="">
                                    Contacter
                                </button></a>
                            </div>
                           {{/if}}
                      
                        {{/if}}

                  
                    <br><br>
                   <div class="confiance_profil"> Indice de confiance : {{confiance}}/5 </div><div class="raty"> </div><br>
                    
                    {{#if is_conseiller_user _id}}
                    Statut conseiller : <strong> {{status_conseiller _id}}</strong><br> 
                      {{else}}

                         <i class="fa fa-user-circle-o" aria-hidden="true"></i> <a href="{{pathFor 'devenir_conseillere' }}" >Tu n'es pas conseiller</a>
                          <br><hr>
                    {{/if}}


                    {{#if my_id this._id}} {{else}}
                      
                      <div class="profil-connecté"> {{#if user_online_conseillere _id}} <img src="/img/Point_vert.gif">  {{/if}}  {{date_last_connexion _id}}</div>
                    {{/if}}

                    </span>
                    <span class="pull-left"><br>
                      <ul class="nav nav-pills">
                        
                         
                        <li class="{{activeRouteClass 'presentation'}}"><a href="{{pathFor 'presentation' post_author=_id }}"  style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Présentation</a></li>
                       
                       {{#if my_id this._id}}
                       {{#if is_conseiller_user _id}}
                       <li class="{{activeRouteClass 'presentation_conseiller'}}"> <a href="{{pathFor 'presentation_conseiller' post_author=_id }}" style="text-decoration:none;"><i class="fa fa-address-card-o" aria-hidden="true"></i> Conseiller</a></li>
                       {{/if}} 
                       {{/if}}

                       <li class="{{activeRouteClass 'histoire'}}"> <a href="{{pathFor 'histoire' post_author=_id }}" style="text-decoration:none;"><i class="fa fa-fw fa-heart" aria-hidden="true"></i> Histoires <span class="badge">{{count_histoires _id}}</span></a>
                       </li>    

                        {{#if my_id this._id}}
                        <li class="{{activeRouteClass 'amis'}}"> <a href="{{pathFor 'amis' post_author=_id }}" style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Amis <span class="badge">{{count_amis}}</span></a> </li>
                     
                        <li class="{{activeRouteClass 'visites'}}"> <a href="{{pathFor 'visites' post_author=_id }}"  style="text-decoration:none;"><i class="fa fa-fw fa-eye" aria-hidden="true"></i> Visites <span class="badge">{{count_visites}}</span></a> </li>
                           {{/if}}
                        <li class="{{activeRouteClass 'personne_aide'}}"> <a href="{{pathFor 'personne_aide' post_author=_id }}"   style="text-decoration:none;"><i class="fa fa-fw fa-key" aria-hidden="true"></i> Personnes aidées <span class="badge">{{count_liste_personne}}</span></a> </li>
                        
                        <!--<li> <a href="#tab6" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-thumbs-up" aria-hidden="true"></i> Mes conseils <span class="badge">42</span></a> </li>-->
                        
                        <li class="{{activeRouteClass 'messages_poste'}}"> <a href="{{pathFor 'messages_poste' post_author=_id }}"  style="text-decoration:none;"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> Messages postés <span class="badge">{{count_mes_messages}}</span></a> </li>
                        
                        <li class="{{activeRouteClass 'commentaires'}}"> <a href="{{pathFor 'commentaires' post_author=_id }}"  style="text-decoration:none;"><i class="fa fa-fw fa-commenting" aria-hidden="true"></i> Commentaires <span class="badge">
                        {{#if my_id this._id}}{{count_mes_commentaires}}
                        {{else}}{{count_commentaires}}
                        {{/if}}

                        </span></a> </li>
                         
                         {{#if my_id this._id}}
                        <li class="{{activeRouteClass 'ils_ont_aide'}}"> <a href="{{pathFor 'ils_ont_aide' post_author=_id }}"  style="text-decoration:none;"><i class="fa fa-fw fa-flag" aria-hidden="true"></i> Ils m'ont aidés <span class="badge">{{count_liste_personne_aide}}</span></a> </li>
                        {{/if}}

                        {{#if my_id this._id}}
                        <li class="{{activeRouteClass 'alerte'}}">  <a href="{{pathFor 'alerte' post_author=_id }}" class="red" style="text-decoration:none;"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Alerte <span class="badge_red">{{count_alertes}}</span></a> </li>
                        {{/if}}
                        
                        <li class="{{activeRouteClass 'avertissement'}}"> <a href="{{pathFor 'avertissement' post_author=_id }}"  style="text-decoration:none;"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Avertissements <span class="badge">{{count_avertissement}}</span></a> </li>
                        
                        
                    </ul>

                    </span>
                    <span class="pull-right">
                       
                        
                        
                    </span>
                </div>
            </div>

    <div class="tab-content">
             
            {{> add_commentaire}}
            <!--{{> presentation}}
            {{> presentation_conseiller}}
            {{> histoire}}
            {{> amis}}
            {{> visites}}
            {{> personne_aide}}   
            {{> mes_conseils}}     
            {{> messages_poste}}  
            {{> commentaires}}
            {{> ils_ont_aide}}
            {{> avertissement}}   
            {{> alerte}}  -->



    </div> 
    
</div>


</div>
</div>
</div>

</template>
            