<template name="profil">

<div class="container-messages-profil">

<div class="mainbody container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;"> {{username}} <small></small> </h1>
                         {{#if my_id this._id}}{{else}}
                        <div class="dropdown pull-right">
                            <button class="btn btn-success dropdown-toggle ami" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                +1 Ami
                            </button>
                        </div>
                        {{/if}}

                    </span>
                    <br><br>
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Indice de confiance : 50%<br><br>
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> <a href="/tags/diaspora" class="tag">Tu n'es pas conseiller</a>
                    <br><br><hr>
                    <span class="pull-left">
                      <ul class="nav nav-pills">
                        
                         
                        <li class="active"><a href="#tab1" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-files-o" aria-hidden="true"></i> Présentation</a></li>
                       
                       <li> <a href="#tab2" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-heart" aria-hidden="true"></i> Histoires <span class="badge">42</span></a>
                       </li>    

                        <li> <a href="#tab3" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Amis <span class="badge">42</span></a> </li>
                        
                        <li> <a href="#tab4" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-eye" aria-hidden="true"></i> Visites <span class="badge">42</span></a> </li>
                        
                        <li> <a href="#tab5" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-key" aria-hidden="true"></i> Personnes aidées <span class="badge">42</span></a> </li>
                        
                        <li> <a href="#tab6" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-thumbs-up" aria-hidden="true"></i> Mes conseils <span class="badge">42</span></a> </li>
                        
                        <li> <a href="#tab7" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> Messages postés <span class="badge">42</span></a> </li>
                        
                        <li> <a href="#tab8" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-commenting" aria-hidden="true"></i> Commentaires <span class="badge">42</span></a> </li>
                        
                        <li> <a href="#tab9" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-flag" aria-hidden="true"></i> Ils m'ont aidés <span class="badge">42</span></a> </li>
                        
                        <li> <a href="#tab10" data-toggle="tab"  style="text-decoration:none;"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Avertissement <span class="badge">42</span></a> </li>
                        
                        
                        <li> <a href="#tab11" data-toggle="tab" class="red" style="text-decoration:none;"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Alerte <span class="badge">42</span></a> </li>
                    </ul>

                    </span>
                    <span class="pull-right">
                       
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Message"></i></a>
                        
                    </span>
                </div>
            </div>

    <div class="tab-content">
            {{> presentation}}
            {{> histoire}}
            {{> amis}}
            {{> visites}}
            {{> personne_aide}}   
            {{> mes_conseils}}     
            {{> messages_poste}}  
            {{> commentaires}}
            {{> ils_ont_aide}}
            {{> avertissement}}   
            {{> alerte}}  



    </div> 
    
</div>


</div>
</div>
</div>

</template>
            