@font-face {
    font-family: "Saint denis";
    src: url('/police/Boulevard Saint Denis Light.ttf');
}

@font-face {
    font-family: "lato";
    src: url('/police/Lato-Regular.ttf');
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#dde0e4;
}


a {
    text-decoration: none;
    height: 30px;
    box-shadow: none;

}

.site-container {
   

    
}

.site-container::after {
    content: "";
    /*background: url(/img/background.jpg) ;
    opacity: 0.3;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color:#e9ebee;
}


.site-pusher{
    /*width: 1000px;*/
    
}
/* -------------------------------------------------Menu ------------------------------------------ */
.header{
    position: static;
    /*left: 0;
    right: 0;*/
    height: 40px;
    /*line-height: 66px;
    color: #ffffff;*/
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color:#0a68b4 ;
    background-color: #0a68b4;
    z-index: 2;

}
.header::after {
    /*content: "";
    background: url(/img/background.jpg) ;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   */  
}

.logout{
    display: inline-block;
}

form{
    color: #000000;
}
.site-content{
padding-top: 40px;
}

.logo-kurbys{
    float: left;
    font-family: "saint denis";
    font-size: 40px;
    color: #ffffff;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    top: -3px;
    margin-top: 7px;
    
}

.logo-kurbys-disconnect{
    float: left;
    font-family: "saint denis";
    font-size: 40px;
    color: #ffffff;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    top: -10px;
    
    
}

.slogan{
    font-family: Lato, sans-serif;
    font-size: 14px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    top: 8px;
    color: #ffffff;
}

.logo-kurbys-disconnect a{
    text-decoration: none;
    color: #ffffff;
}

.logo-kurbys a{
    text-decoration: none;
    color: #ffffff;
}


.logo{
    padding-left:25px;
    padding-top: 10px;
    float: left;
}

.logo-kurbys-small{
     display: none;
 }
.menu{
    display: inline-block;

}


.navbar-nav > li > a {
    padding-bottom: 0px;
    color: white;
}

.nav > li > a:hover {
    background-color: white;
    height: 40px;
    color: black;
}


.menu a{
    padding: 0 10px;
    padding: 5px 10px 5px 10px;

}
.menu a:hover{
    color: #0000;
    text-decoration: none;
}

.menu-page-login{
    z-index: 2;
    margin-right: 20px;
    /*border-style: solid;
    border-color: #000000;
    border-width: 5px;*/
    float: right;
    margin-top: -13px;

}

.menu-page-login a{
    text-decoration: none;
    color: #ffffff;

}

.login{
    float: right;
    color: #ffffff;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 8px;
    font-size: 15px;
}

.forget-password a{
    text-decoration: none;
    }

.inscription{
 display: inline-block;
 position: relative;

}
.inscription-small{
    display: none;
 /*display: inline-block;*/
 position: relative;
 text-transform: none;

}
.connexion{
    background-color: #ffffff;
    height: 20px;
    border-radius: 5px;
}

.form-connexion{
    display: inline-block;
    margin-top: 0px;
}

.form-group{
    display: inline-block;
    margin-right: 5px;
}
.form-group input{
    /*background-color: #f8ffae;*/
}

.form-control{
    background-color: rgba(197, 220, 255, 0.16); 
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    border-radius: 5px;

}

.form-group-register {
    background-color: #f8ffae;
    width: 60%;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 3px;
}
/*input::-webkit-input-placeholder {
    color: orange;
    opacity: 1;
}*/

.triangle{
    margin-left: 5px;
    display: none;
}
.triangle2{
    margin-left: -28px;


}
.menu-secondaire{
    margin-left: 600px;
    margin-top: -15px;
    width: 150px;
    background-color: #ffffff;
    display: none;
    z-index: 3;
    border-radius: 3px;
    border-color: #0a68b4;
    border-width: 1px;
    border-style: solid;

}

.menu-secondaire li:hover{


}
.menu-secondaire li{
    line-height: 30px;
    list-style: none;
    padding-left: 7px;
    color: #0a68b4;
}
.menu-secondaire li a{
    text-decoration: none;

}

.menu-login{
    margin-left: 0px;
    display: inline-block;
    float: right;
}
.container-cgu{
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
    border-radius: 5px;
}
/* -------------------------------------------------LES MESSAGES------------------------------------------ */
.connexion-obligatoire{
    position: relative;
    top: 0px;
    font-size: 15px;
    color: #0a68b4;
    height: 900px;
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 5px;
    padding-left: 10px;
    background-color: #ffffff;
}

.connexion-obligatoire-repondre{
    position: relative;
    top: 0px;
    font-size: 15px;
    color: #0a68b4;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 5px;
    padding-left: 10px;
    background-color: #ffffff;
}

.donner-conseil{
    font-size: 18px;
    font-weight: bold;
}

.reponses-conseils{
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 5px;
    background-color: #0a68b4;
    padding-left: 10px;
    padding-top: 8px;
    color: #ffffff;
    border-bottom: none;
    margin-bottom: 10px;
}

.entete{
    height: 20px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;

}

.sous-titre{
    position: relative;
    margin: 0px;
    top: -20px;
    /*font-family: "saint denis";*/
    font-size: 15px;
    color: #0a68b4;
}
.site-content{
    position: relative;
    top: 0px;

}
.site-content::after {
    /*content: "";
    background: url(/img/background.jpg) ;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;*/
}


.container-messages{
    margin-top: 10px;
    /*float: right;*/
    /*width: 80%;*/
    margin-left: 240px;
    margin-right: 240px;
    /*height: 5000px;*/
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/

}

.container-messages-password{
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 15px;
    height: 900px;
    margin-left: 250px;
    margin-right: 250px;

}

.container-messages-profile{
    margin-top: 10px;
    /*float: right;*/
    /*width: 80%;*/
    margin-left: 250px;
    margin-right: 250px;
    /*height: 5000px;*/
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/

}

.message-gauche{

    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    /*min-height: 210px;*/
    background-color: #ffffff;
    border-radius: 2px;
    /*margin-right: 20px;*/
    margin-bottom: 15px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
}


.triangle-gauche-blanc{
    margin-top: -180px;
    margin-left: -20px;
    width: 0px;
    height: 0px;
    border-left: 19px solid transparent  ;
    border-top: 19px solid #ffffff;
    border-right: 19px solid #ffffff;
    border-bottom: 19px solid transparent;

}

.triangle-gauche-blanc_repondre{
    margin-top: -180px;
    margin-left: 150px;
    width: 0px;
    height: 0px;
    border-left: 19px solid #ffffff  ;
    border-top: 19px solid #ffffff;
    border-right: 19px solid transparent;
    border-bottom: 19px solid transparent;


}

.triangle-gauche-noir{
    margin-top: 24px;
    margin-left: 9px;
    width: 0px;
    height: 0px;
    border-left: 20px solid #000000 ;
    border-top: 20px solid #000000;
    border-right: 20px solid transparent ;
    border-bottom: 20px solid transparent;
}

.message-droite{
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    height: 210px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-left: 30px;
}
.triangle-droit-blanc{
    float: right;
    margin-top: 57px;
    margin-right: -89px;
    width: 0px;
    height: 0px;
    border-right: 19px solid #ffffff ;
    border-bottom: 19px solid transparent;
    border-left: 19px solid transparent ;
    border-top: 19px solid #ffffff;
}

.triangle-droit-noir{
    float: right;
    margin-top: 57px;
    margin-right: -90px;
    width: 0px;
    height: 0px;
    border-right: 20px solid #000000 ;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent ;
    border-top: 20px solid #000000;
}

.user-presentation-gauche{
    float: left;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    width: 100px;
    height: 120px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: rgba(214, 239, 241, 0.42);
}

.user-presentation-gauche a {
   text-decoration: none;
}


.categorie_msg{
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
}

.categorie_msg_message{
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
}

.container-messages-gauche{
    color: #000000;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/

}
.content-message-gauche{
    
    min-height: 122px;
    color: #000000;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 8px;
    overflow-y: hidden;
    font-weight: normal;
    margin-bottom: 20px;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
}

.titre-message-gauche{
    margin-left: 120px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    color: #1f5db6;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
}

.date-message{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    color: #000000;
    font-weight: normal;
}
.date-message a {
    text-decoration: none;
}

.date-message-commentaire{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    color: #000000;
}
.date-message-commentaire a {
    text-decoration: none;
}


.nbr-reponse{
    display: inline-block;
    margin-left: 10px;
}

.signaler{
    display: inline-block;
    margin-right: 10px;
    color: red;
    float: right;
    border-width: 0px;
    background-color: transparent;
    margin-top: 3px;
}
.repondre {
    float: right;
    margin-right: 10px;
    margin-top: 6px;

}
.repondre a{
    text-decoration: none;
    color: #ffffff;
    
}

.pseudo-user{
   /* border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    width: 90px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    color: #000000;
}

.user_online{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}



.demande-ami{
   /* border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    width: 90px;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 10px;
    color: #000000;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    padding: 0px;
    /*background-color: #5cb85c;*/


}

.demande-ange{
   display: inline-block;

}

.demande_amis{
    text-transform: none;
    padding: 5px 5px 5px 5px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}


.send-private-message{
   /* border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    width: 90px;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 0px;
    color: #000000;
    line-height: 20px;
    text-align: left;
    font-weight: bold;

    /*background-color: #d9534f;*/
}
.user-profil{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    width: 90px;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 0px;
    color: #000000;
    text-align: left;
    font-weight: bold;
    /*background-color: #f0ad4e;*/
}

.register-form-devenir{
    height: 580px;
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 5px;
}

.register-form-recherche{
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 5px;
}

.register-form{
    /*height: 900px;*/
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 5px;
}

legend{
    color: #0a68b4;
    font-size: 25px;
    /*text-transform: uppercase;*/
    font-weight: normal;


}

.legend-poster-message{
    padding:10px;
    font-size: 20px;
}

.legend_classement{
    background-color: #ffffff;
    height: 50px;
    padding: 10px;
    padding-left: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7);
    font-size: 20px; 
    text-align: center;
    margin-bottom: 10px;
}

.legend-disponible{
    background-color: #ffffff;
    height: 50px;
    padding: 10px;
    padding-left: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7);
    font-size: 20px; 
    text-align: center;
    margin-bottom: 10px;
}


.legend-visite{
    color: #0a68b4;
    background-color: #ffffff;
    height: 30px;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 20px;
}


.emoticones-repondre{
    margin-top: -28px;

}


.emoticones-profil{
    margin-top: -30px;
    float: left;

}

.bloc-emoticone-profil{
float: left;
}

.cache_vote {
    position: relative;
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 1;
    opacity: 0.1;

}

.vote{
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}



.poster_message{
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    width: 100%;
    height: 205px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    border-radius: 2px;
    background-color: rgba(0,61,111,1);
   }

.titre_poster_mesage{
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 5px;
    color: #ffffff;
    /*background-color: rgba(33,150,243,0.21);*/
    border-radius: 2px;
    padding-top: 3px;
    
}

::-webkit-input-placeholder {
   /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
   padding-left: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   /*padding-top: 5px;*/
   padding-left: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
   /*padding-top: 5px;*/
   padding-left: 5px;
}

:-ms-input-placeholder {  
   /*padding-top: 5px;*/
   padding-left: 5px;
}

.titre_poster_mesage a{
   text-decoration: none;
    
}


.textarea_poster_message{
    width: 100%;
    height: 100px;
}


.footer-poster-message{
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    width: 100%;
    height: 30px;
    padding-left: 5px;
    border-radius: 2px;
    padding-top: 5px;
    margin-bottom: 0px;
    
}
.submit_poster_message{
    float: right;
    margin-right: 15px;
}

.btn-circle {
    height: 30px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    line-height: 1.428571429;
}

.valider-message{
    float: right;
    margin-right: 20px;
    background-color: ;
}

.form-horizontal .form-group {
    margin-left: 0px; 
    margin-right: 0px;
}

.titre_message_container{
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    width: 100%;
    height: 30px;
    background-color: rgba(10,104,180,0.1);
    padding-left: 5px;
    border-radius: 2px;
    
}

.titre_message_container_fille{
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/
    width: 100%;
    height: 30px;
    background-color: #ffe7f4;
    padding-left: 5px;
    border-radius: 2px;
    
}

.titre_message a{
   text-decoration: none;
   color: #2196f3;
    
}

.titre_message{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: rgba(33, 33, 33, 0.49);
    padding-top: 5px;

}


.titre_message_fille{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    padding-top: 5px;
}

.titre_message_fille a{
     text-decoration: none;
     color: #ff6af1;

}

.fille{
    color: #ff35ec;
    display: inline-block;
}

.garcon{
    display: inline-block;
}


.fille a{
 text-decoration: none;
     color: #ff35ec;
     margin-right: 2px;
}

.garcon a{
 text-decoration: none;
 margin-right: 2px;
}


.titre_message_acceuil{
    width: 100%;
    height: 30px;
}

.footer-message{
    display: block;
    background-color: rgba(10,104,180,0.1);
    height: 40px;
    border-radius: 2px;
    padding-left: 5px;

}

.footer-message_acceuil{
    display: block;
    background-color: #ffffff;
    height: 40px;
    border-radius: 2px;
    padding-left: 5px;

}

.private_message{
	display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.private_message_repondre{
    margin-left: 10px;
    margin-top: 10px;
}

.private_message_search{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.demande_ami{
    margin-left: 10px;
    display: inline-block;
    text-transform: none;
    box-shadow: none;
}
.demande_ange{
    color: red;
    text-align: center;
    font-style: italic;
    
}

.search{
    margin-right: -10px;
    margin-left: 5px;

}

.form-repondre{
    position: relative;
    top: 0px;
    font-size: 15px;
    color: #0a68b4;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding-top: 5px;
    padding-left: 10px;
    background-color: #ffffff;

}

.btn-circle{
    font-size: 10px;
}

.classement-entete{
    height: 40px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 8px;
    color: #2196f3;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
}

/*-----------------------------------------side bar conseillere--------------------*/
.container-liste-conseillere{
    float: left;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*/

}
.container-liste-conseillere a{
    text-decoration: none;
}

.devenir-conseillere{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    height: 40px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 8px;
    color: #2196f3;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
}
.devenir-conseillere:hover{
    background-color: #0a68b4;
    color: #ffffff;
}
.recherche-conseillere{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    height: 40px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 8px;
    color: #2196f3;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
}
.recherche-conseillere:hover{
    background-color: #0a68b4;
    color: #ffffff;
}

.poster-message{
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    height: 40px;
    margin-bottom: 10px;
    background-color:#2196f3;
    border-radius: 3px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.poster-message:hover{
    background-color: rgba(33, 158, 255, 0.71);
}
.top-conseillere{
    width: 222px;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 5px;
    color: #000000;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    height: 660px;

}

.top-conseillere-scroll{
    overflow-y: scroll;
    width: 237px;
    height: 660px;
    padding-left: 2px:
    padding-right:2px; 
}

.classement{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;

}

.classement_conseillere{
    float: right;
	margin-top: 0px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #0a68b4;

}


.top-conseillere-content-paire{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    border-radius: 3px;
    height: 50px;
    margin-top: 10px;
    background-color: #ffffff;
    width: 100%;

}
.top-conseillere-content-impaire{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    border-radius: 3px;
    height: 55px;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
    width: 100%;

}
.top-conseillere-content-fille{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    border-radius: 3px;
    height: 55px;
    margin-top: 10px;
    background-color: rgba(255, 231, 244, 0.54);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
    width: 100%;

}

.top-conseillere-content-garcon{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    border-radius: 3px;
    height: 55px;
    margin-top: 10px;
    background-color: rgba(10,104,180,0.1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
    width: 100%;

}

.top-conseillere-number{
    display: inline-block;
    float: left;
    font-weight: bold;
    color: #000000;
    margin-left: 5px;
}

.top-conseillere-pseudo {
    /*position: relative;*/
    display: inline-block;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    height: 20px;
    width: 140px;
    margin-left: 5px;
    top: 0px;
    line-height: 20px;
    font-size: 90%;
    text-align: left;
    color: #000000;
    float: left;


}

.top-conseillere-pseudo a{
    color: #000000;
    font-weight: bold;
    float: left;

}

.top-conseillere-pseudo-fille {
    /*position: relative;*/
    display: inline-block;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    height: 20px;
    width: 140px;
    margin-left: 5px;
    top: 0px;
    line-height: 20px;
    font-size: 90%;
    text-align: left;
    color: #000000;
    float: left;


}

.top-conseillere-pseudo-fille a{
    color: #ff6af1;
    font-weight: bold;
    float: left;

}

.top-conseillere-pseudo-garcon {
    /*position: relative;*/
    display: inline-block;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    height: 20px;
    width: 140px;
    margin-left: 5px;
    top: 0px;
    line-height: 20px;
    font-size: 90%;
    text-align: left;
    color: #000000;
    float: left;
}

.top-conseillere-pseudo-garcon a{
    color: #2196f3;
    font-weight: bold;
    float: left;

}

.top-conseillere-comment{
	position: relative;
    display: inline-block;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    left: 95px;
    height: 20px;
    width: 20px;
    top: -10px;
}

.top-conseillere-message{
    position: relative;
    display: inline-block;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    left: 70px;
    height: 20px;
    width: 20px;
    top: -20px;

}
.top-conseillere-profil{
    position: relative;
    display: inline-block;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    top: -20px;
    height: 20px;
    left: 70px;

}

.top-conseillere-confiance {
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    position: relative;
    top: 6px;
    height: 0px;
    width: 180px;
    font-size: 90%;
    text-align: left;
    margin-left: 5px;

}


.inscrire{
    position: relative;
    font-size: 50px;
    color: #0a68b4;
}

.blanc{
background-color: #ffffff;
padding: 10px;
padding-bottom: 10px;
border-radius: 3px;
/*height: 100%;*/
}

.blanc1{
background-color: #ffffff;
padding: 10px;
padding-bottom: 10px;
border-radius: 3px;
height: 350px;

}

label{
    font-size: 15px;
}

.titre{
    font-size: 15px;
}

.presentation-site{
    position: relative;
    font-size: 16px;
    color: #0a68b4;
}

/*-----------------------------------------Poster message--------------------*/

.titre-poster-message{
    width: 400px;
    /*background-color: #fffee4;*/
    color: #000000;
}

.area-poster-message{
    width: 100%;
    height: 200px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    margin-top: -15px;
}

.emoticones-poster-message{
    margin-right: 10px;
    margin-top: 0px;
    
    
}

.emoticones-repondre-message{
    float: left;
    margin-left:10px;
    margin-top: 5px;
    
}

.bloc-emoticones-poster-message{
    /*position: relative;
    top: 10px;
    left: -220px;*/
    height: 10px;


}

.formulaire-repondre{
    background-color: #ffffff;
    height: 300px;
    border-radius: 2px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
}

.valider-reponse{
   float: right;
   margin-right: 10px;
   margin-top: 5px;
}

.categorie-poster-message{
    position: relative;
    top: -200px;
}

#bloc_emoticones{
    visibility:hidden;
}

#bloc_emoticones_repondre{
    visibility:hidden;
   
   
}
.emoticones_table{
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    margin-top: -30px;
    margin-left: 50px;
    border-width: 1px;
    border-radius: 3px;
    width: 155px;
    height: 185px;
    background-color: #ffffff;
    opacity: .99;
    padding: 3px;
    
}

/*-----------------------------------------devenir conseillère--------------------*/

.img-conseillere{
    margin-top: -10px;
    margin-left: 10px;
}

.bloc-conseillere{
    margin-top: 0px;
    margin-left: 0px;
}

.area-conseillere{
    width: 100%;
    height: 200px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    padding: 5px;
    margin-left: -5px;
}

.input-conseillere{
    float: right;
    margin-top: -10px;
    margin-right: 20px;
}

.emoticones-conseillere{
    position: relative;
    left: 550px;
    top: -30px;
}

.bloc-emoticones-conseillere{
    position: relative;
    top: 10px;
    left: 40px;

}

/*-----------------------------------------contact--------------------*/
.area-contact{
    position: relative;
    width: 600px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
}

.contact_acceuil{
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
}

/*-----------------------------------------profil--------------------*/
.container-profil{
    display: table;
}
.presentation-user{
      display: inline-block;
      position: relative;
      width: 100%;
      height: 200px;
      border-radius: 2px;
      color: #000000;
      font-size: 14px;
      padding: 5px;
      margin-right: 10px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);
      overflow: auto;
      
  }

.titre-presentation-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: left;

}
.content-presentation-user{


}

.profil{
    margin-right: 10px;
    padding: 5px;
    text-transform: none;
    margin-top: -25px;
}

.profil_conseillere{
    margin-right: 10px;
    padding: 5px;
    text-transform: none;
    margin-top: -40px;
}

.confiance-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 80px;
    border-radius: 2px;
    color: #9e2f2f;
    font-size: 14px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);
}
.titre-confiance-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}
.content-confiance-user{
    font-size: 35px;
    font-weight: bold;
    color: #9e2f2f;
    text-align: center;
}
.ami-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.confiance-user:hover{
   background-color: #f9f9f9;

}


.titre-ami-user{
     font-size: 14px;
     color: #0a68b4;
     text-align: center;
     font-weight: bold;
 }

.content-ami-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.nbr-visites-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.titre-nbr-visites-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}

.content-nbr-visites-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.nbr-visites-user:hover{
    background-color: rgba(0, 255, 0, 0.18);
}

.nbr-aide-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.titre-nbr-aide-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}

.content-nbr-aide-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.nbr-aide-user:hover{
    background-color: rgba(0, 255, 0, 0.18);
}

.poster-message-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    padding: 5px;
}
.titre-poster-message-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}

.content-poster-message-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.poster-message-user:hover{
    background-color: rgba(0, 255, 0, 0.18);
}
.gain-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.titre-gain-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}
.content-gain-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.content-ange{
    text-transform: none;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}


.gain-user:hover{
    background-color: rgba(0, 255, 0, 0.18);
}
.change-password-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.titre-change-password-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}
.content-change-password-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.message-signale-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.titre-message-signale-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}
.content-message-signale-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.message-signale-user:hover{
    background-color: rgba(0, 255, 0, 0.18);
}

.notification-user{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.titre-notification-user{
    font-size: 14px;
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
}
.content-notification-user{
    font-size: 35px;
    font-weight: bold;
    text-align: center;

}


.circle-notification{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    border-radius: 5px;
    padding-bottom: 1px;
    display: inline-block;
    line-height: 20px;
    font-weight: bold;
}

.circle-notification_message{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    border-radius: 5px;
    padding-bottom: 1px;
    display: inline-block;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: -16px;

}

#notification1{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: red;*/
    border-radius: 5px;
    padding-bottom: 1px;
    display: inline-block;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: -16px;

}


.option_profil{
    position: relative;
    text-transform: none;
    box-shadow: none;
    margin-bottom: 5px;
    float: left;
    margin-right: 10px;
    top: -15px;

}

.option_profil a{
    text-decoration: none;
    color: #ffffff;

}

.option_profil_conseillere{
    position: relative;
    text-transform: none;
    box-shadow: none;
    margin-bottom: 5px;
    margin-left: : 10px;
}


.option_profil_ange{
    position: relative;
    text-transform: none;
    box-shadow: none;
    margin-bottom: 5px;
    float: right;
    margin-left: : 10px;
    top: -15px;

}

.delete_ange{
    margin-top: 10px;
    margin-left: -5px;
    text-transform: none;
    box-shadow: none;
}

.side-ange-content{
    font-size: 100%;
    font-weight: bold;
    padding-top: 5px;
    color: #9e2f2f;
}

.commentaire{
    float: right;
    box-shadow: none;
    text-transform: none;
    margin-top: -5px;
}

/*-----------------------------------------CONSEILLERE --------------------*/

.nom-conseillere-fille{
    display: inline-block;
    margin-left: 10px;
}

.nom-conseillere-garcon{
    display: inline-block;
    margin-left: 10px;
}


.nom-conseillere-fille a{
    margin-left: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #F32CCF;
}

.nom-conseillere-garcon a{
    margin-left: 10px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #1f5db6;
    
}

.choix{
    margin-top: 5px;
}

.demande-ami-conseillere{
   /* border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    display: inline-block;
    height: 25px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
    color: #000000;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    /*background-color: #5cb85c;*/


}
.send-private-message-conseillere{
   /* border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    display: inline-block;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 10px;
    color: #000000;
    line-height: 20px;
    text-align: left;
    font-weight: bold;

    /*background-color: #d9534f;*/
}
.user-profil-conseillere{
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    display: inline-block;
    height: 25px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 10px;
    color: #000000;
    text-align: left;
    font-weight: bold;
    /*background-color: #f0ad4e;*/
}
.demande-ami-conseillere a{
    text-decoration: none;

}
.send-private-message-conseillere a{
    text-decoration: none;
}
.user-profil-conseillere a{
   text-decoration: none;
}

.indice-confiance-conseillere{
    margin-left: 5px;
    display: inline-block;
    color: #2196f3;
    font-weight: bold;
}

.personne-aide-conseillere{
    margin-left: 5px;
    display: inline-block;
    color: #2196f3;
    font-weight: bold;
}

.connexion-conseillere{
    margin-left: 5px;
    display: inline-block;
    color: #2196f3;
    font-weight: bold;
}

.content-message-conseillere{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    min-height: 122px;
    color: #000000;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-right: 8px;
    overflow-y: hidden;
}
.register-form{
    color: #000000;
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.form-conseil{
    height: 200px;
}

.table-emoticones-repondre{
    position: relative;
    top: 10px;
    width: 100px;
}

.recherche{

}

.date_visite{
    float: right;
	margin-top: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #0a68b4;
    font-weight: bold;
}

.repondres{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.repondres a{
    color: #ffffff;
    text-transform: none;
     text-decoration: none;
}

.supprimer{
    float: right;
}

.modifier_area{
    width: 100%;
    min-height: 250px;
    border-radius: 3px;
    padding: 5px;
    background-color: #ffffd4;
}

.titre_modifier{
    background-color: #ffffff;
    border-radius: 3px;
    background-color: #ffffd4;
    color: #000000;
}

.emoticones-modifier{
    float: left;
    margin-top: -30px;
    margin-left: 10px;
}

/* ---------------------------  Notifications  --------------------------------------------------------------------*/


.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  /*height: 45px;*/
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

/*   JB   */

.navbar-nav > li > a {
    padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a{
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    /*height: 42px;*/
}

.navbar-default .navbar-nav > li > a:hover{
    /*background-color: #ffffff;*/
    color: #ffffff;
    /*border-radius: 2px;*/
    /*height: 42px;*/
   
}

.container{
    width: 550px;
    margin-top: 7px;

}

.navbar{
    /*min-height:42px;*/
    /*height: 42px;*/
    background-color: #0a68b4;
    box-shadow: none;
}

.dropdown-menu > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #ffffff;
}

.row {
    height: 70%;
}
/* ---------------------------  Side Bar Right  --------------------------------------------------------------------*/

.side-bar-right{
    position: fixed;
    top: 50px;
    right: 10px;

}

.new-conseillere{
    height: 30px;
    /*background-color: #ffffff;*/
    border-radius: 2px;
    padding: 5px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 12px;

    
}

.new-conseillere-pseudo{
    text-align: left;
    margin-left: 25px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;

}
.new-conseillere-presentation{
    border-radius: 3px;
    margin-top: 10px;
    /*background-color: #ffffff;*/
    width: 100%;
    text-align: justify;
    font-size: 12px;
    padding: 10px;
    padding-top: 2px;
    overflow:hidden;

}

.new-conseillere-content-fille{
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 0px 0px 1px 0px rgba(255, 231, 244, 0.54); 
    width: 100%;
    background-color: rgba(255, 231, 244, 0.54);
}

.new-conseillere-content-garcon{
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
    width: 100%;
    background-color: rgba(10,104,180,0.1);

}


.new-conseillere-header{
   /* background-color: #f9f9f9;*/
    height: 20px;
    padding-top: 5px;
    }
.new-conseillere-footer{
    /*background-color: #f9f9f9;*/
    height: 30px;
    font-size: 12px;
    padding-top: 8px;
    text-align: left;
    padding-left: 5px;
}

.new-conseillere-comment{
    float: right;
    margin-right: 15px;
    }

.new-conseillere-message{
    float: right;
    margin-right: 15px;
    }

.new-conseillere-profil{
    float: right;
    margin-right: 10px;
    }

.new-top-conseillere{
    width: 222px;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 5px;
    color: #000000;
    text-align: center;
    font-size: 15px;
    width: 220px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    height: 750px;
    

}



.scroll-top-conseillere{
    overflow-y: scroll;
    height: 200px;
    width: 234px;
    height: 750px;
    padding-left: 2px:
    padding-right:2px; 
}

.side-profile{
    width: 222px;
    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 5px;
    color: #000000;
    text-align: center;
    font-size: 15px;
    width: 220px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    height: 660px;

}

.side-profile a{
    text-decoration: none;

}
.side-profile-scroll{
    overflow-y: scroll;
    width: 234px;
    height: 660px

}



.indice-confiance{
    /*border-radius: 3px;*/
    height: 55px;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
    width: 100%;
}

.side-confiance{
    /*border-radius: 3px;*/
    height: 55px;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
    width: 100%;
}

.side-confiance:hover{
    background-color: #f9f9f9;
    color: #ffffff;

}
.side-confiance-titre{
    color: #2196f3;
    font-weight: bold;
    padding-top: 2px;

}



.side-confiance-content{
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    color: #9e2f2f;


}

.indice-confiance-titre{
    color: #0a68b4;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
    width: 100%;
    font-size: 20px;
    padding-top: 5px;
}

.indice-confiance-titre a {
   text-decoration: none;
}

.choix-theme{
    margin-top: 0px;
}

.choix-deroulant{
    display: none;
}

.devenir-conseillere-entete{
    display: none;
}

/* ---------------------------  infobulle  --------------------------------------------------------------------*/

.infobulle{
	position: absolute;
	background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7); 
	padding:3px 7px;
	border-radius: 3px;
	color: #000;
	text-align: center;
}

/* ---------------------------  adrese URL  --------------------------------------------------------------------*/

.adresse_url{
    width: 100%;
    background-color: #eaf6ff;
    line-height: 30px;
}

/* ---------------------------  AVERTISSEMENT  --------------------------------------------------------------------*/

.avertissement{
    width: 50px;
    height: 10px;
    background-color: green;
    margin-bottom: 0px;
}

.statut_conseiller{
    width: 95px;
    height: 10px;
    background-color: green;
    margin-bottom: 0px;
}

.classement_statut{
    display: inline-block;
    
}

.profil_conseiller{
    font-size: 16px;

}

.triangle-vert{
    margin-top: 0px;
    margin-left: 0px;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent ;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent ;
    border-top: 20px solid green;
}

.register-form td{
    width: 50px;
}
.register-form td img{
    margin-top: -15px;
}
/* ---------------------------  WELCOME  --------------------------------------------------------------------*/
.bienvenue {
    padding: 10px;
    font-size: 15px;
}

.bienvenue_title{
    font-weight: bold;
    font-size: 16px;
    color: #0a68b4;
}

.slogan_kurbys{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: #0a68b4;
}

.ambre{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 35%;
    margin-right: 30px;

}

.JB{
    display: inline-block;
    text-align: center;
    font-weight: bold;

}

.change_password{
    background-color: #78a72d;
    color: #ffffff;
    font-weight: bold;

}


.img_ange{
    margin-top: -10px;
    margin-left: 5px;
}

.telecharger a{
    color: #ffffff;
}


.telecharger a:hover{
    text-decoration: none;
    color: #ffffff;

}

.cendrillon{
    margin-top: -10px;
    margin-bottom: 10px;
    
}

.cendrillon img{
   width: 100%;
}

.logo_cendrillon{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 260px;
    }   
.span12{
    display: inline-block;
}
#btnRespNav{
 display: none;
}
