@media only screen and (max-width: 1010px) {

    .forget-password{
        
    }
    .inscription{
      
    }
    .triangle{
        display: inline;
    }
    .triangle2{
        margin-right: 10px;
    }

    .container-liste-conseillere{
        float: left;
        margin-top: 10px;

    }

    .menu{
        

    }

    /* -------------------------------------------------LES MESSAGES------------------------------------------ */
    .connexion-obligatoire{
        position: relative;
        top: 0px;
        font-size: 15px;
        color: #0a68b4;
    }

    .sous-titre{
        position: relative;
        margin: 0px;
        top: -20px;
        font-family: "saint denis";
        font-size: 40px;
        color: #0a68b4;
    }
    .site-content{
        position: relative;
        top: 0px;

    }
    .site-content::after {
       /* content: "";
        background: url(/img/background.jpg) ;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;*/
    }


    .container-messages{
        /*border-color: #000000;
        border-width: 2px;
        border-style: solid;*/
        margin-top: 10px;
        /* float: right; */
        /* width: 80%; */
        margin-left: 250px;
        margin-right: 25px;
        /* height: 5000px; */

    }

    .container-messages-password{
        margin-top: 10px;
        margin-left: 250px;
        margin-right: 25px;

    }


    .container-messages-pro{
        /*border-color: #000000;
        border-width: 2px;
        border-style: solid;*/
        margin-top: 10px;
        /* float: right; */
        /* width: 80%; */
        margin-left: 250px;
        margin-right: 25px;
        /* height: 5000px; */

    }

    .message-gauche{

    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    /*min-height: 210px;*/
    background-color: #ffffff;
    border-radius: 2px;
    /*margin-right: 20px;*/
    margin-bottom: 15px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    }


    .triangle-gauche-blanc{
        margin-top: -40px;
        margin-left: 16px;
        width: 0px;
        height: 0px;
        border-left: 19px solid #ffffff ;
        border-top: 19px solid #ffffff;
        border-right: 19px solid transparent ;
        border-bottom: 19px solid transparent;
    }

    .triangle-gauche-noir{
        margin-top: 26px;
        margin-left: 15px;
        width: 0px;
        height: 0px;
        border-left: 20px solid #000000 ;
        border-top: 20px solid #000000;
        border-right: 20px solid transparent ;
        border-bottom: 20px solid transparent;
    }

    .message-droite{
        border-color: #000000;
        border-width: 1px;
        border-style: solid;
        height: 210px;
        background-color: #ffffff;
        border-radius: 10px;
        margin-bottom: 60px;
        margin-left: 30px;
    }
    .triangle-droit-blanc{
        float: right;
        margin-top: 59px;
        margin-right: -89px;
        width: 0px;
        height: 0px;
        border-right: 19px solid #ffffff ;
        border-bottom: 19px solid transparent;
        border-left: 19px solid transparent ;
        border-top: 19px solid #ffffff;
    }

    .triangle-droit-noir{
        float: right;
        margin-top: 59px;
        margin-right: -90px;
        width: 0px;
        height: 0px;
        border-right: 20px solid #000000 ;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent ;
        border-top: 20px solid #000000;
    }



    .container-messages-gauche{
        margin-left: 0px;
        color: #000000;
        border-color: #000000;
        /*border-width: 1px;
        border-style: solid;
        height: 200px;*/

    }
    .content-message-gauche{
        min-height: 122px;
        color: #000000;
        font-family: lato;
        font-size: 15px;
        line-height: 20px;
        padding: 8px;
        overflow-y: hidden;
        margin-bottom: 20px;
        /*border-color: #000000;
        border-width: 1px;
        border-style: solid;*/
    }


    .date-message{
        display: inline-block;
    }
    .nbr-reponse{
        display: inline-block;
        margin-left: 10px;
    }
    .signaler{
        display: inline-block;
        margin-left: 10px;
        color: red;
    }

    .pseudo-user{
        /* border-color: #000000;
         border-width: 1px;
         border-style: solid;*/
        width: 90px;
        height: 20px;
        border-radius: 5px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        color: #000000;
    }

    .user_online{
        float: right;
        margin-right: 10px;
        
    }

    .repondre {
        margin-right: 10px;
        margin-top: 4px;
    }

    .demande-ami{
        /* border-color: #000000;
         border-width: 1px;
         border-style: solid;*/
        width: 90px;
        height: 25px;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 10px;
        color: #000000;
        text-align: left;
        font-weight: bold;
        line-height: 20px;
        /*background-color: #5cb85c;*/


    }
    .send-private-message{
        /* border-color: #000000;
         border-width: 1px;
         border-style: solid;*/
        width: 90px;
        height: 25px;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 0px;
        color: #000000;
        line-height: 20px;
        text-align: left;
        font-weight: bold;

        /*background-color: #d9534f;*/
    }
    .user-profil{
        /*border-color: #000000;
        border-width: 1px;
        border-style: solid;*/
        width: 90px;
        height: 25px;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 0px;
        color: #000000;
        text-align: left;
        font-weight: bold;
        /*background-color: #f0ad4e;*/
    }
    .site-pusher{
        /*width: 800px;*/
        
    }

    .side-bar-right{
        display: none;
    }





}

@media only screen and (max-width: 815px) {
    /* --------------------------------------   Menu ------------------------------------------------- */
    .site-container{
        
    }

      .navbar-toggle1 {
    position: relative;
    float: right;
    margin-bottom: 8px;
    background-color: #0a68b4;
    background-image: none;
    border-style: none;
    height: 40px;
   
   }


    .site-pusher{
        width: 100%;
        height: 100%;
        transition-duration: 0.3s;
        transform: translateX(0px);
    }
    .header{
        position: static;
    }

    .site-content{
        padding-top: 0px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .icon {
        float: left;
        background-image: url("/img/menu.png");
        background-repeat:no-repeat;
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: 5px;
        cursor: pointer;

    }

    .menu{
        display: none;

    }

    

    .width--sidebar .site-pusher{
        transform: translateX(250px);
    }

    .width--sidebar .site-cache{
        position: absolute;
        width: 100%;
        left: 0;
        top: 66px;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;

    }
     .container-messages{
        margin-top: 10px;
        /*float: left;
        /*width: 80%;*/
        margin-left: 20px;
        margin-right: 20px;
        /*height: 5000px;*/
        /*border-color: #000000;
        border-width: 2px;
        border-style: solid;*/

    }


     .container-messages-password{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 3px;
    }

    .container-liste-conseillere{
        display: none;
    }


    .container{
        width: 250px;
        margin-top: 0px;
    }

    .container ul li{
        text-align: right;
            background-color: #0a68b4;
    }

    .none{
        display: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
       display: none;
    }


    img {
      
        /*margin-top: 10px;*/
    }

    .triangle{
        display: none;
    }

    .inscription {
       
    }

    .form-connexion .form-group {
        margin-left: 10px;
    }
    .presentation-user{

    }
    .logo-kurbys-small{
       /* position: relative;
        display: inline-block;
        font-family: "saint denis";
        font-size: 40px;
        color: #0a68b4;
        left: 20px;
        top: -5px;
        margin-right: 5px;*/
    }
    .logo-kurbys-small a{
       /* text-decoration: none;
        color: #0a68b4;*/
    }

    .menu-page-login{
        margin-top: 5px;

    }

    .logo-kurbys{
        margin-left: -15px;
    }

    .slogan{
        display: none;
    }

    .devenir-conseillere-entete{
    display: block;
    }

    .devenir-conseillere-entete a{
    text-decoration: none;
    }

    .demande-ami-conseillere{
        display: none;

    }

    .user-profil-conseillere{
        display: none;
    }

    .personne-aide-conseillere{
        display: none;

    }

    .indice-confiance-conseillere{
        margin-top: 10px;
    }

    .legend_classement{
        font-size: 14px;
        height: 30px;
        padding-top: 5px;
    }

    .categorie_msg_message{
    display: none;
    }

    .choix-theme{
    display: none;
    }

     .choix-deroulant{
    display: inline-block;
    }



    
}

@media only screen and (max-width: 767px) {

    .menu{
        display: none;
    }

    #btnRespNav{
     display: block;
    }

    .navbar-toggle1 {
    position: relative;
    float: right;
    margin-bottom: 8px;
    background-color: #0a68b4;
    background-image: none;
    border-style: none;
    height: 40px;
   
   }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .member_list_mobile {
       height: 50%;
       overflow-x: hidden;
       overflow-y: auto;
       display: none;
   }

      .message_write {
      display: block;
      background: #f5f3f3 none repeat scroll 0 0;
      /*position: fixed;
      bottom: 0px;*/
      padding: 15px;
      width: 100%;
      /*right: 15px;*/

    }

    #msgbox{
        /*margin-right: 10px;*/
    }

    .message_section {
     /*display: none;*/
   }


    .lien_chat{
      display: none;

    }

    .lien_chat_mobile{
      display: initial;

    }

    .dropdown_mobile{
     display: none;
      
    }

    .emoticones_mobile{
        display: none;
    }

    .message_write{
        display: none;
    }

    .search{
    display: none;
   }




}

@media only screen and (max-width: 490px) {
    .triangle-droit-blanc{
        display: none;
    }

    .triangle-droit-noir{
        display: none;
    }

    .triangle-gauche-blanc{
        display: none;
    }

    .triangle-gauche-noir{
        display: none;
    }
    .signaler{
        display:none;
    }
    .message-droite{
        margin-left: 0px;
    }

    .inscription-small{
    /* margin-top: 4px; */
    display: inline-block;
    position: relative;
    text-transform: none;
    padding-top: 5px;

     }

     .inscription{
     display: none;
     position: relative;
     text-transform: none;
     }

     .logo-kurbys{
    float: left;
    font-family: "saint denis";
    font-size: 30px;
    color: #ffffff;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    top: 3px;

    }

    .choix{
        /*display: none;*/
        margin-top: 5px;
        
    }

    .choix-deroulant{
    display: inline-block;
    }

    .choix-deroulant label{
    margin-bottom: 2px;
    }

    .date-message{
    display: none;   
    }

     .container-messages{
        margin-left: 5px;
        margin-right: 5px;
    }

    .nbr-reponse{
        margin-top: 15px;
    }

    .container-messages a{
        text-decoration: none;
    }

    .contact_login{
        display: none;
    }

    .logo-kurbys-disconnect img{
        width: 80px;
        height: 30px;
    }

    .logo-kurbys img{
        margin-top: -7px;
    }

    .dropdown {
    display: none;
	}

	.pull-right {
    display: none;
	}

	.pull-left span{
		display: none;
	}

	.new_message_head {
    padding: 8px 10px;
	}

	.emoticones{
		display: none;
	}

	.message_write textarea.form-control {
    height: 50px;
    padding: 10px;
	}

	.profil {
    float: right;
    margin-right: 10px;
    margin-top: 115px;
    padding: 5px;
    height: 30px;
    text-transform: none;
	}	

	.emoticones-repondre-message{
		display: none;
	}

	.commentaire{
		display: none;
	}

    .JB{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 35%;

    }

    .table_conseiller{
        display: none;
    }

    .categorie_msg{
        display: none;
    }

    .search{
    display: none;
   }



}


.slideout-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #0a68b4;
    z-index: 100;
}

.slideout-menu .slideout-menu-toggle {
    display: none;
}

.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    height: 50px;
}

.slideout-menu ul li a:hover {
    position: relative;
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: white;
}

.slideout-menu ul li {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #151515;
    height: 50px;
    font-size: 15px;
}



