<template name="add_commentaire_mobile">
<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>

  <div class="titre_page_profil">Rédiger un commentaire</div>
 </div>

 <div class="container_user_profil">
            <div class="panel panel-default">
                <div class="panel-body">                    
                    <hr>
                    <div class="post-content">
                       <form enctype="multipart/form-data" action="" method="post" id="com">
                        <fieldset>                        
                           <textarea id="idcom" name="commentaire" class="form-control" style="height:250px;" required>  </textarea><br>
                            <br>
                            <div class="input-conseillere">
                           
                            <input type="submit" name="submit" value="Valider" id="" class="btn btn-success submit1"/>
                           </div>
                        </fieldset>
                        </form>
                    </div>
                  
                </div>
            </div>
</div>
</template>