<template name="histoire_mobile">
<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>
{{#if my_id this._id}}
 <div class="titre_page_profil">Mes histoires d'amour</div>
 {{else}}
 <div class="titre_page_profil">Ses histoires d'amour</div>
 {{/if}}
</div>
 <div class="container_user_profil">
    <div class="tab-pane " id="tab2">
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                {{#if my_id this._id}}
                <div class="panel-body"><br> Raconte tes différentes expériences amoureuses. Explique ce qu'elles t'on apportées et les conseils que tu pourrais donner (réussites, échecs, confiance en soi, amitié... ) </div>
                    <div class="pull-left"></div>
                 {{else}}
                 {{#if user_not_disponible _id}}
                             <div class="button_profil_hist "><a href="">
                                <button class="btn btn-primary btn-block disabled " type="button"  id="">
                                    Contacter
                                </button></a>
                            </div>
                            {{else}}
                             <div class="button_profil_hist "><a href="{{pathFor 'messagerie_mobile' post_author=this._id}}">
                                <button class="btn btn-primary btn-block  " type="button"  id="">
                                    Contacter
                                </button></a>
                            </div>
                           {{/if}}
                 {{/if}}


                    {{#if my_id this._id}}
                    <div class="media">
                        <div class="pull-left">
                        </div>
                        <div class="media-body">
                            <ul class="nav nav-pills">
                              <li class="active" style="display: none;"><a href="#taba" data-toggle="tab">Programme</a></li>
                              <li style="float: right;"><a href="#exp" class="t2" data-toggle="tab">Ajouter une expérience</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active " id="taba" ></div>
                                <div class="tab-pane " id="exp" >
                                
                                <form enctype="multipart/form-data" action="" method="post" id="2">
                                
                                    <div class="form-group">
                                    <label for="exampleInputEmail1">Titre</label>
                                    <input type="text" class="form-control" name="titre-histoire" id="titre-histoire" required placeholder="titre" >
                                  </div>    <br>             
                                   <div class="form-group">
                                    <label for="exampleInputEmail1">Mon histoire</label>
                                    <textarea class="form-control" rows="10" placeholder="Raconte ton histoire..." required id="histoire" name="histoire" ></textarea>
                                  </div>
                                
                                <br>
                                <div class="input-conseillere">
                               
                                <input type="submit" name="submit" value="Valider" class="btn btn-success submit1" id="2"/>
                               </div>
                           
                            </form>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
               
            </div><br>
          
	       	{{#each histoires_mobile}}
	      		{{> Item_Histoires_mobile}}<spam></spam>
	    	{{/each}}
         

       </div><br>
</div>
</template>


<template name="Item_Histoires_mobile">
	
<div class="message-gauche">
    <div class="container-messages-gauche">
        {{#if is_garcon gender}} 
        <div class="titre_message_container mobile_lien" style="color: #2196f3">{{titre_histoire}}</div>
          {{/if}}
         {{#if is_fille gender}} 
        <div class="titre_message_container mobile_lien" style="color: #ff6af1">{{titre_histoire}}</div>
            {{/if}}
        <div class="content-message-gauche">  {{{breaklines histoire}}}</div>
            
        <div class="footer-message_acceuil">
 
        </div>
               
    </div>

</div>

</template>