<template name="ils_ont_aide_mobile">
<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>
 <div class="titre_page_profil">Ils m'ont aidé</div>
</div>
<div class="container_user_profil">
    <div class="tab-pane " id="tab9">
                    {{#each liste_personne_aide_mobile}}
                      {{> commentsItemAide_mobile}}
                    {{/each}}
            
    </div>
</div>
</template>

<template name="commentsItemAide_mobile"> 
                        
<div class="message-gauche">

      <div class="container-messages-gauche">
        {{#if gender_garcon}} 
             <div class="titre_message_container"><div class="username_garcon" >{{author}}</div></div> 
        {{/if}}

        {{#if gender_fille}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{author}}</div></div> 
        {{/if}}

            <div class="content-message-gauche"> {{{breaklines body}}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{date_francais submitted}}</div>  
                
                <div class="nbr-reponse"></div>
            
                 <div class="repondre profil_ami btn btn-success btn-xs">Message</div>

           </div>
               
        </div>

    </div>

</template>