<template name="messagerie_mobile">
{{add_contact_chat}}

<div class="main_section">
   <div class="container">
      <div class="chat_container">
         
        
         
         <div class="col-sm-9 message_section_mobile">
         <div class="row">
         <div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>
         <div class="pull-left name_user"><button class="correspondant"> Conversation avec <a href="{{pathFor 'profil' post_author=this._id}}">{{username}}</a></button></div>
         <div class="bloquer_user" id="bloquer" ><a href="">{{bloquer}} </a></div>
         </div>
         
         <div class="chat_area" id="msgbox">
         <ul class="list-unstyled">
                  <li class="left clearfix admin_chat">
                     <span class="chat-img1 pull-right">
                     </span>
                     <div class="chat-body1 clearfix" >
                        {{#each mes_messages}}

                            {{#if mon_message from_id}}
                            {{> Item_message_droite_mobile}} {{message_read from_id}} 
                            {{else}}
                            {{> Item_message_gauche_mobile}} {{message_read from_id}}
                            {{/if}}
                        {{/each}}
                       
                     </div>
                  </li>
                  
         </ul>
         </div><!--chat_area-->
          
          <div class="message_write">
              <form enctype="multipart/form-data" action="" method="post">
                    {{#if is_bloquer this._id}}
                    <div class="is_bloquer">Tu as été bloqué</div> 
                    {{else}}
                    <textarea class="form-control" placeholder="Ecrire un message" name="message" id="mes" required></textarea>
                    <input   type="submit"  class="btn btn-success btn-xs valider">
                    {{/if}}
              </form>
          </div>
       


         </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>
</template>

<template name="Item_message_droite_mobile">
     <div class="message_droite_date" >
         <div style="display: inline-block;">
             <a class=" delete_msg" >
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
         </div>
         <div style="display: inline-block;"> {{ date_francais_heures post_date}}</div> 
     </div>
     <div class="message_droite">{{{ breaklines message}}}<br></div>
     <div style="clear: both;"></div>
</template>

<template name="Item_message_gauche_mobile">
   <div class="message_gauche_date">{{ date_francais_heures post_date}}</div>
   <div class="message_gauche">{{{ breaklines message}}}<br> </div>
</template>

