<template name="personne_aide_mobile">
<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>
 <div class="titre_page_profil">Les personnes que j'ai aidées</div>
</div>

<div class="container_user_profil">
	<div class="tab-pane " id="tab5">


                    {{#each liste_personne_mobile}}
                      {{> commentsItem_mobile}}
                    {{/each}}

    </div>
</div>
</template>

<template name="commentsItem_mobile">      
        
    <div class="message-gauche">                       

      <div class="container-messages-gauche">
        {{#if gender_garcon}} 
             <div class="titre_message_container"><div class="username_garcon" >{{post_author_name}}</div></div> 
        {{/if}}

        {{#if gender_fille}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{post_author_name}}</div></div> 
        {{/if}}

            <div class="content-message-gauche"> {{breaklines body}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{date_francais submitted}}</div>  
                
                <div class="nbr-reponse"></div>

              {{#if my_id this.userId}}
                 <div class="repondre profil_ami btn btn-success btn-sm"><a href="{{pathFor 'messagerie'}}" class="">Message</a></div>
              {{/if}}

           </div>
               
        </div>

    </div>

</template>