<template name="presentation_conseiller_mobile">
<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>
 <div class="titre_page_profil">Présentation conseiller</div>
 </div>

<div class="container_user_profil">
<div class="tab-pane" id="tab12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                    </div>
                    {{#if my_id this._id}}
                    <div class="post-content ">
                        {{{presentation}}}
                    </div>
                    {{/if}}
                    <div class="media">
                        <div class="pull-left">
                        </div>
                        {{#if my_id this._id}}
                        <div class="media-body">
	                        <div class="pull-right btn-group-xs nav nav-pills">
							  <div class="active" style="display: none;"><a href="#tabam" data-toggle="tab">Programme</a></div>
							  <a href="#tabbm" class="btn btn-success taba" data-toggle="tab"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                               
							</div>
							<div class="tab-content">
	  							<div class="tab-pane active " id="tabam" ></div>
	                        	<div class="tab-pane " id="tabbm" >
	                            
                                <form enctype="multipart/form-data" action="" method="post" id="4">
	                            <fieldset>                        
		                        <label><strong>Modifier</strong></label>
		                         <textarea id="" name="presentation" class="form-control" style="height:250px;" required> {{presentation}} </textarea><br>
		                        
		                        <br>
		                        <div class="input-conseillere">
		                       
		                        <input type="submit" name="submit" value="Valider" id="4" class="btn btn-success submit1"/>
		                       </div>
		                    </fieldset>
		                    </form>
	                        
                            </div>
	                        </div>
						</div>
                        {{/if}}
                    </div>
                </div>
            </div>
       </div>
</div>
</template>