<template name="recherche_mobile">
<div class="new_message_head">
 <div class="titre_page_profil">Contacter un(e) conseiller(e)</div>
</div>
<div class="classement_mobile" ><a href="{{pathFor 'classementComplet_mobile' }}"><img src="/img/cup.png" > Voir le classement complet</a></div>
<div class="container_user_profil_recherche mobile_recherche">

    <div class="register-form-devenir ">

        <form enctype="multipart/form-data" action="" method="post">
            <fieldset>
                
                    
                    <strong>Ta tranche d'&acirc;ge :</strong><br/>
                     <div data-toggle="buttons">
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="college" value="true" >  Coll&egrave;ge</label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="lycee" value="true">  Lyc&eacute;e</label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="adulte" value="true">  +18 ans</label>
                    </div>
                    <br/>

                    <strong>Dans quel domaine souhaites-tu obtenir un conseil :</strong><br/>
                    <div data-toggle="buttons">
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="amour" value="true" >  Amour  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="amitie" value="true">  Amiti&eacute;  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="confiance" value="true">  Confiance en soi  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="sexo" value="true">  Sexo  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="autre" value="true">  Autre  <div style="display: inline-block; margin-left: 5px"></div></label>
                    </div>
                    <br/> 
                    <div data-toggle="buttons">
                   
                    <strong>Je veux un conseil des : </strong><br/>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="garcon" value="garcon"  >  Garçons  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="fille" value="fille" >  Filles  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="les_deux" value="true">  Les deux  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <br/> <br/>
                </div>
                <input type="submit" name="submit" value="valider" class="btn btn-success"/>
            </fieldset>
        </form>
    </div>

</div>
   
</template>


