<template name="postPage">
{{> side_bar_right }}
{{> side_bar_left }}
  <div class="container-messages-titre">
    {{> postContent}}


{{> commentSubmit}}
<br>

  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>
</div>

</template>





<template name="commentItem">

<div class="message-gauche">

    <div class="container-messages-gauche">
    {{#if is_garcon gender}}
      <div class="titre_message_container">
          <div class="categorie_msg"  >{{author}}</div> 
       <form class="signaler" enctype="multipart/form-data"  method="post">   <input type="submit" name="$message_id"  id="$message_id" value="Signaler"  class="signaler">

             </form> 
      </div> 
     {{/if}}
     {{#if is_fille gender}}
       <div class="titre_message_container_fille">
          <div class="categorie_msg"  >{{author}}</div> 
         <form class="signaler" enctype="multipart/form-data"  method="post">   <input type="submit" name="$message_id"  id="$message_id" value="Signaler"  class="signaler">

             </form> 
      </div> 
     {{/if}}
      <div class="content-message-gauche"> {{body}}</div>
        
      <div class="footer-message_acceuil">
           
            
            <div class="date-message">{{date_francais submitted }}</div>  

      <div class="thumbs">
      <a href="#" class="btn btn-xs  btn-success upvote {{upvotedClass}}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
      <a href="#" class="btn btn-xs  btn-danger upvote {{downvotedClass}}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
      </div>
       <div class="result-vote"> {{count votes }} </div>    
            
            <div class="nbr-reponse">
                                 
            </div>
             
                   <a href=""  class="private_message"><img  src="/img/comment.png"></a>
             
          
            
       </div>
           
       </div>

</div>








</template>