<template name="postContent">
  <div class="message-gauche">

    <div class="container-messages-gauche">
    {{#if is_garcon gender}}
         <div class="titre_message_container">{{post_title}}
          <div class="categorie_msg"  >{{categorie}}</div> 
         <form class="signaler" enctype="multipart/form-data"  method="post">   <input type="submit" name="$message_id"  id="$message_id" value="Signaler"  class="signaler">
             </form> 
      </div> 
      {{/if}}
        {{#if is_fille gender}}
       <div class="titre_message_container_fille">{{post_title}}
          <div class="categorie_msg"  >{{categorie}}</div> 
         <form class="signaler" enctype="multipart/form-data"  method="post">   <input type="submit" name="$message_id"  id="$message_id" value="Signaler"  class="signaler">

             </form> 
      </div> 
      {{/if}}
      <div class="content-message-gauche"> {{post_content}}</div>
        
      <div class="footer-message_acceuil">
           
           
            <div class="date-message">{{date_francais post_date }}</div>  
            
            <div class="nbr-reponse">
             <div>{{pluralize commentsCount "réponse"}}</div>
            </div>
          <a href=""  class="private_message"><img  src="img/comment.png"></a>
             
          {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Modifier</a>{{/if}}
         
       </div>
           
       </div>

</div>
</template>