<template name="postContent">
  <div class="message-gauche">

    <div class="container-messages-gauche">
    {{#if is_garcon gender}}
         <div class="titre_message_container" style="color: #2196f3">{{post_title}}
          <div class="categorie_msg"  >{{categorie}}</div> 
         <button class="btn signaler {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button> 
      </div> 
      {{/if}}

   {{#if is_fille gender}}
       <div class="titre_message_container_fille" style="color: #ff6af1">{{post_title}}
          <div class="categorie_msg"  >{{categorie}}</div> 
         <button class="btn signaler {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button>
      </div> 
      {{/if}}

      <div class="content-message-gauche"> {{post_content}}</div>
        
      <div class="footer-message_acceuil">
           {{#if is_fille gender}} 
            <a href="{{pathFor 'profil' }}" style="color: #ff6af1; margin-left: 5px;">{{author_name}}</a>
            {{/if}}

            {{#if is_garcon gender}} 
            <a href="{{pathFor 'profil' }}" style="margin-left: 5px;">{{author_name}}</a>
            {{/if}}
           
            <div class="date-message">{{date_francais post_date }}</div>  
            
            <div class="nbr-reponse">
             <div>{{pluralize commentsCount "réponse"}}</div>
            </div>
             
           {{#if ownPost}} <div class="btn btn-warning btn-sm modifier_message"> <a href="{{pathFor 'postEdit'}}">Modifier</a></div> {{/if}}
         
       </div>
           
       </div>

</div>
</template>