<template name="header">
<div class="site-container" >
      {{user_IP }}
      {{user_bloquer_url}}
          <div class="header">
              <div class="logo-kurbys-disconnect"><a href="{{pathFor 'index'}}"><img src="/img/logo.png" width="150px" height="30px;"></a></div>
{{#if currentUser}}
              <div class="menu">
                <div class="container-fluid1">
                    <ul class="nav navbar-nav"> 
                      <li>
                        <div class="search">
                          <div class="span12">
                              <form id="custom-search-form" class="form-search form-horizontal pull-right">
                                  <div class="input-append span12">
                                      <input type="text" class="search-query mac-style" placeholder="Chercher un pseudo">
                                      <button type="submit" class="btn"><i class="icon-search"><img src="/img/search.png"></i></button>
                                  </div>
                              </form>
                          </div>
                        </div>
                      </li>

                      <li><div id="notification1"> </div>
                      </li>
                      <li><a href="{{pathFor 'index'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                      <li><a href="{{pathFor 'messagerie'}}">Messagerie</a></li>
                      <li><a href="{{pathFor 'mon_profil' _id=id}}" >Profil</a></li>
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{pathFor 'mot_de_passe'}}">Mot de passe</a></li>
                          <li><a href="{{pathFor 'signaler_bug'}}">Signaler un bug</a></li>
                          <li><a href="{{pathFor 'ameliore_site'}}">Améliorer le site</a></li>
                          <li><a href="{{pathFor 'contact'}}">Contact</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="le-secret-de-cendrillon.php">Le secret de Cendrillon</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{{pathFor 'supprimer_compte'}}">Supprimer mon compte</a></li>
                        </ul>
                      </li>
                    </ul>

                    <ul class="nav navbar-nav">
                      <li class="dropdown">  {{> notifications}}
                       

                      </li>

                    </ul>
                </div><!-- /.container-fluid -->               
              </div> <!-- menu -->
{{/if}}
                      <div class="nav navbar-nav login_meteor1">
                        {{> loginButtons align="right"}}
                        
                      </div>
                     <!-- <div class="contact_accueil ">
                        <a href="{{pathFor 'contact'}}">Contact</a>
                        
                      </div>-->
    </div><!--  header -->
    
    </div><!--  site-container -->
</template>


<template name="menuItems">
  <div class="slideout-menu">
    <h3>Menu <a href="#" class="slideout-menu-toggle">×</a></h3>
    <ul>
        <li><a href="{{pathFor 'inscription'}}">Connexion</a></li>
        <li><a href="{{pathFor 'inscription'}}">Inscription</a></li>
        <li><a href="{{pathFor 'profil'}}">Profil</a></li>
        <li><a href="{{pathFor 'messagerie'}}">Messagerie</a></li>
        <li><a href="{{pathFor 'mot_de_passe'}}">Mot de passe</a></li>
        <li><a href="{{pathFor 'ameliore_site'}}">Améliorer le site</a></li>
        <li><a href="{{pathFor 'signaler_bug'}}">Signaler un bug</a></li>
        <li><a href="{{pathFor 'contact'}}">Contact</a></li>
        <li><a href="{{pathFor 'supprimer_compte'}}">Supprimer mon compte</a></li>
    </ul>
  </div>
  <!--/.slideout-menu-->
</template>