<template name="messagerie">
{{add_contact_chat}}

<div class="main_section">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
         <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="Conversation" />
                  <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
               </div>
            </div>
            <div class="dropdown all_conversation">
               <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               All Conversations
               <span class="caret pull-right"></span>
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                  <li><a href="#"> All Conversation </a> </li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
               </li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </div>
            <div class="member_list">
               <ul class="list-unstyled">
                  {{#each mes_contacts}}
                    {{>Item_contact}}
                  {{/each}}

              </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->
        
         
         <div class="col-sm-9 message_section">
         <div class="row">
         <div class="new_message_head">
         <div class="pull-left name_user"><button> Conversation avec <a href="{{pathFor 'profil' post_author=this._id}}">{{username}}</a></button></div>
         <div class="bloquer_user" id="bloquer" ><a href="">{{bloquer}} </a></div>
         </div>
         
         <div class="chat_area" id="msgbox">
         <ul class="list-unstyled">
                  <li class="left clearfix admin_chat">
                     <span class="chat-img1 pull-right">
                     </span>
                     <div class="chat-body1 clearfix" >
                        {{#each mes_messages}}
                            {{#if mon_message from_id}}
                            {{> Item_message_droite}}
                            {{else}}
                            {{> Item_message_gauche}}
                            {{/if}}
                        {{/each}}
                       
                     </div>
                  </li>
                  
         </ul>
         </div><!--chat_area-->
          
          <div class="message_write">
        <form enctype="multipart/form-data" action="" method="post">
              {{#if is_bloquer this._id}}
              <div class="is_bloquer">Tu as été bloqué</div> 
              {{else}}
              <textarea class="form-control" placeholder="Ecrire un message" name="message" id="mes" required></textarea>
              <input   type="submit"  class="btn btn-success valider">
              {{/if}}
        </form>
          </div>
       


         </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>
</template>

<template name="Item_message_droite">
     <div class="message_droite_date" >{{ date_francais_heures post_date}}</div>
     <div class="message_droite">{{{ breaklines message}}}<br></div>
     <div style="clear: both;"></div>
</template>

<template name="Item_message_gauche">
   <div class="message_gauche_date">{{ date_francais_heures post_date}}</div>
   <div class="message_gauche">{{{ breaklines message}}}<br> </div>
</template>


<template name="Item_contact">
  {{#if my_name from_name}}
       {{#if current_user _id}}  
        <div class="receive_message current {{to_id}}" style="background-color: #0a68b4;" id="{{_id}}">    
                <a href="{{pathFor 'messagerie' post_author=to_id}}" id="a">
                <li class="left clearfix" i>
                   <span class="chat-img pull-left">
                   </span>
                   <div class="chat-body clearfix">
                      <div class="header_sec">
                         <strong class="primary-font">
                       {{#if user_online to_id}} <img src="/img/Point_vert.gif">  {{/if}} {{to_name }} 

                        </strong> <div class="pull-right">
                         {{date_contact_chat date}}</div>
                      </div>
                      <div class="contact_sec">
                         <strong class="primary-font"></strong> {{ limite_caractere last_message}}<span class="badge pull-right"></span>
                      </div>
                   </div>
                </li>
           </a>
        </div>
     {{/if}}
    {{#if not_current_user _id}}  
        <div class="receive_message  {{to_id}}"  id="{{_id}}">    
                <a href="{{pathFor 'messagerie' post_author=to_id}}" id="a">
                <li class="left clearfix" i>
                   <span class="chat-img pull-left">
                   </span>
                   <div class="chat-body clearfix">
                      <div class="header_sec">
                         <strong class="primary-font">
                        {{#if user_online to_id}} <img src="/img/Point_vert.gif">  {{/if}} {{to_name }} 

                        </strong> <div class="pull-right">
                         {{date_contact_chat date}}</div>
                      </div>
                      <div class="contact_sec">
                         <strong class="primary-font"></strong> {{ limite_caractere last_message}}<span class="badge pull-right"></span>
                      </div>
                   </div>
                </li>
           </a>
        </div>
     {{/if}}
{{else}}

       {{#if current_user _id}}  
        <div class="receive_message current {{to_id}}" style="background-color: #0a68b4;" id="{{_id}}">    
                <a href="{{pathFor 'messagerie' post_author=from_id}}" id="a">
                <li class="left clearfix" i>
                   <span class="chat-img pull-left">
                   </span>
                   <div class="chat-body clearfix">
                      <div class="header_sec">
                         <strong class="primary-font">
                        {{#if user_online from_id}} <img src="/img/Point_vert.png">  {{/if}} {{from_name }} 

                        </strong> <div class="pull-right">
                         {{date_contact_chat date}}</div>
                      </div>
                      <div class="contact_sec">
                         <strong class="primary-font"></strong> {{ limite_caractere last_message}}<span class="badge pull-right"></span>
                      </div>
                   </div>
                </li>
           </a>
        </div>
     {{/if}}
     {{#if not_current_user _id}}  
        <div class="receive_message  {{to_id}}"  id="{{_id}}">    
                <a href="{{pathFor 'messagerie' post_author=from_id}}" id="a">
                <li class="left clearfix" i>
                   <span class="chat-img pull-left">
                   </span>
                   <div class="chat-body clearfix">
                      <div class="header_sec">
                         <strong class="primary-font">
                        {{#if user_online from_id}} <img src="/img/Point_vert.png"> {{/if}} {{from_name }} 

                        </strong> <div class="pull-right">
                         {{date_contact_chat date}}</div>
                      </div>
                      <div class="contact_sec">
                         <strong class="primary-font"></strong> {{ limite_caractere last_message}}<span class="badge pull-right"></span>
                      </div>
                   </div>
                </li>
           </a>
        </div>
     {{/if}}

 {{/if}}

</template>