<template name="notifications_mobile">

    {{#if notificationCount}}
      
      {{#each notifications}}
        {{> notificationItem_mobile}}
      {{/each}}

      {{#each notificationFriends}}
        {{> notificationItemFriends_mobile}}
      {{/each}}

      {{#each notificationMessages}}
        {{> notificationItemMessages_mobile}}
      {{/each}}

      {{#each notificationCommentaires}}
        {{> notificationItemCommentaires_mobile}}
      {{/each}}


      {{#each notificationAlertes}}
        {{> notificationAlertesItem_mobile}}
      {{/each}}
    
    {{else}}
      <li><span>Pas de notification</span></li>
    {{/if}}

</template>

<template name="notificationItem_mobile">
  <div class="notif_mobile">
    <a href="{{notificationPostPath}}">
      <strong>{{commenterName}}</strong> t'a donné un conseil
    </a>
  </div>
</template>

<template name="notificationItemFriends_mobile">
  <div class="notif_mobile">
    <a href="{{notificationPostPathFriend}}">
      <strong>{{name_from_id}}</strong> veut devenir ton ami
    </a>
    <div class="oui btn btn-success btn-xs">accepter</div>
    <div class="non btn btn-danger btn-xs">refuser</div>
  </div>
</template>

<template name="notificationItemMessages_mobile">
  <div class="notif_mobile">
    <a href="{{notificationPathMessage}}">
      Tu as reçu un message de <strong>{{from_name}}</strong> 
    </a>
  </div>
</template>

<template name="notificationItemCommentaires_mobile">
  <div class="notif_mobile">
    <a  class="comm">
      Tu as reçu un commentaire de <strong>{{from_name}}</strong> 
    </a>
  </div>
</template>

<template name="notificationAlertesItem_mobile">
  <div class="notif_mobile">
    <a  class="Une_alerte" id="{{id_unique}}">
      <strong>{{ author_name}} </strong> a créé une alerte
    </a>
  </div>
</template>




