<template name="resultat_conseillere">

{{> side_bar_right }}
{{> side_bar_left }}

<div class="container-messages-titre">

    <div class="blanc">
            <fieldset>
                
                    <legend>Resultat de la recherche</legend>
                    
            </fieldset>
    </div>

</div>
     {{#each show_conseilleres}}
      {{> ItemConseillere}}
    {{/each}}
</template>


<template name="ItemConseillere">
<div class="container-messages">
    <div class="message-gauche">

    <div class="container-messages-gauche">
    {{#if is_garcon gender}} 
         <div class="titre_message_container"><div class="username" >{{username}}</div>
          <div class="online-conseillere"  > {{#if user_online_conseillere user_id}} <img src="/img/Point_vert.gif">  {{/if}} </div> 
          {{#if currentUser}}
          <button class="btn signaler {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button>
          {{/if}}
      </div> 
      {{/if}}

        {{#if is_fille gender}} 
       <div class="titre_message_container_fille"><div class="username" >{{username}}</div>
          {{#if currentUser}}
          <div class="online-conseillere"  > {{#if user_online_conseillere user_id}} <img src="/img/Point_vert.gif">  {{/if}}</div> 
         <button class="btn signaler {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button> 
         {{/if}}
      </div> 
      {{/if}}

      <div class="content-message-gauche"> {{{breaklines presentation}}}</div>
        
      <div class="footer-message_acceuil">
            <a href="{{pathFor 'profil' }}">{{author_name}}</a>
            <div class="aider btn btn-sm btn-primary"><a href="{{pathFor 'messagerie' post_author=user_id}}">Contacter</a></div>
            <div class="date-message"></div>  
            
            <div class="nbr-reponse">
             <a href="{{pathFor 'postPage'}}"></a>
            </div>
          
             
         
         
       </div>
           
       </div>

    </div>
</div>
</template>

