<template name="side_bar_left">
	<div class="container-liste-conseillere" >
{{#if currentUser}}
       {{#if is_conseiller}} {{else}}
       <a href="{{pathFor 'devenir_conseillere' }}" ><div class="devenir-conseillere"><img src="/img/heart.png" style="position: relative; top: -3px" > Devenir conseiller</div></a>
       {{/if}}

        <a href="{{pathFor 'recherche_conseillere' }}" ><div class="recherche-conseillere"><img src="/img/valentines.png" > Recherche conseillers</div></a>
{{/if}}


     <div class="top-conseillere">
        <div class="top-conseillere-header"><img src="/img/chevron.png" ><strong> Top conseillers</strong></div>
       
       {{#if currentUser}}
        <a href="{{pathFor 'classementComplet' }}"><div class="classement" ><img src="/img/cup.png" >Classement complet</div></a>
        {{/if}}

         <div class="top-conseillere-scroll">

          {{#each counter}}
             
              {{#if is_fille_conseillere gender}}
                  <div class="top-conseillere-content-fille">
                      <div class="top-conseillere-number"> n°{{true_value @index}} </div>         
                      <div class="top-conseillere-pseudo-fille"><a href="{{pathFor 'profil' post_author=user_id}}">{{name}}</a></div> 
                      <div class="top-conseillere-confiance">{{status_conseiller user_id}}</div>

                  </div>
              {{/if}} 

              {{#if is_garcon_conseillere gender}}    
                  <div class="top-conseillere-content-garcon">
                      <div class="top-conseillere-number"> n°{{true_value @index}} </div>                      
                      <div class="top-conseillere-pseudo-garcon"><a href="{{pathFor 'profil' post_author=user_id}}">{{name}}</a></div> 
                       <div class="top-conseillere-confiance">{{status_conseiller user_id}}</div>
                  </div>
              {{/if}}    
           {{/each}}   
    

         </div>



 </div>

</div>


</template>

<template name="conseillerItem">



</template>





