<template name="classementComplet_mobile">
 <!--<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>
 
 <div class="titre_page_profil">Classement complet conseillers</div></div>-->
 
 <div class="container_user_profil fav_mob" >
   

{{#each classement}}
      <div class="message-gauche">
    <div class="container-messages-gauche">
    {{#if is_garcon gender}} 
          <div class="titre_message_container"><div class="username" ><a href="{{pathFor 'profil' post_author=user_id }}" style="margin-left: 5px;">{{name}}</a></div>
          <div class="classement_conseillere"  >n°{{true_classement @index}}</div> 
          <div class="online-conseillere"  > {{#if user_online_conseillere user_id}} <i class="fa fa-circle circle" aria-hidden="true"></i>  {{/if}}</div> 
      </div> 
      {{/if}}

        {{#if is_fille gender}} 
           <div class="titre_message_container_fille"><div class="username" ><a href="{{pathFor 'profil' post_author=user_id}}" style="color: #ff6af1; margin-left: 5px;">{{name}}</a></div>
          <div class="classement_conseillere"  >n°{{true_classement @index}}</div>
          <div class="online-conseillere"  > {{#if user_online_conseillere user_id}} <i class="fa fa-circle circle" aria-hidden="true"></i>  {{/if}}</div>  
      </div> 
      {{/if}}

      <div class="content-message-gauche"> {{{breaklines presentation}}}</div>
        
      <div class="footer-message_acceuil">
            
            {{#if user_not_disponible user_id}}
              <div class="aider btn btn-sm btn-primary disabled "><a href="">Contacter</a></div>
            {{else}}
              <div class="aider btn btn-sm btn-primary"><a href="{{pathFor 'messagerie_mobile' post_author=user_id}}">Contacter</a></div>
             {{/if}}

            <div class="aider btn btn-sm btn-success"><a href="{{pathFor 'profil_mobile' post_author=user_id}}">Profil</a></div>
           

            <div class="date-message">
            
            {{#if is_fille gender}} 
              <div style="color: #ff6af1;" class="statuts_classement_conseiller">{{status_conseiller user_id}}</div>
            {{/if}}
            
            {{#if is_garcon gender}} 
                <div class="statuts_classement_conseiller">{{status_conseiller user_id}}</div>
            {{/if}}
            <div class="date_last_connexion">  {{date_last_connexion user_id}}  </div>
            <div class="etoile_clas" id="etoile"> {{{etoiles user_id}}}</div>
            <div class="person_aide_clas">Personnes aidées : <strong>{{personne_aidé user_id}}</strong></div><div></div>
            </div>  
            
   
       </div>
           
       </div>


       </div>
{{/each}}

    

</div>

</template>



<template name="ItemClassement_mobile">

  
</template>