<template name="devenir_conseillere_mobile">
<!--<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>
 <div class="titre_page_profil">Devenir conseiller</div>
</div>-->

 <div class="container_user_profil fav_mob">

    <div class="register-form-devenir">

        <form enctype="multipart/form-data" action="" method="post">

            <fieldset>
                
                <strong>Pour qui :</strong>
                <br>





                <label class="btn btn-primary btn-circle btn-sm choix">Les gar&ccedil;ons<input type="checkbox" name="garcon" class="badgebox" value="true" /><span class="badge">&check;</span></label><br>
                
                <label class="btn btn-primary btn-circle btn-sm choix">Les filles<input type="checkbox" name="fille" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
                <br>
                <strong>Pour quelles tranches d'&acirc;ge :</strong><br>
                <label class="btn btn-primary btn-circle btn-sm choix">Coll&egrave;ge<INPUT type="checkbox" name="college" value="true" class="badgebox" /><span class="badge">&check;</span></label><br>
                
                <label class="btn btn-primary btn-circle btn-sm choix">Lyc&eacute;e<INPUT type="checkbox" name="lycee" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
                
                <label class="btn btn-primary btn-circle btn-sm choix">+18 ans<INPUT type="checkbox" name="adulte" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
                <br>
                
                <strong>Dans quels domaines :</strong><br>
                <label class="btn btn-primary btn-circle btn-sm choix">Amour<INPUT type="checkbox" name="amour" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
                
                <label class="btn btn-primary btn-circle btn-sm choix">Amiti&eacute;<INPUT type="checkbox" name="amitie" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
               
               
               <label class="btn btn-primary btn-circle btn-sm choix">Sport <INPUT type="checkbox" name="sport" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>

               
               <label class="btn btn-primary btn-circle btn-sm choix">Santé<INPUT type="checkbox" name="sante" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>

               
               <label class="btn btn-primary btn-circle btn-sm choix">Beauté<INPUT type="checkbox" name="beaute" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>

              
               <label class="btn btn-primary btn-circle btn-sm choix">Mode<INPUT type="checkbox" name="mode" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
               
                
                <label class="btn btn-primary btn-circle btn-sm choix">Sexo<INPUT type="checkbox" name="sexo" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
               
                <label class="btn btn-primary btn-circle btn-sm choix"> Autre<INPUT type="checkbox" name="autre" value="true" class="badgebox"/><span class="badge">&check;</span></label><br>
   
                <br>
                <strong>Un petit mot pour te pr&eacute;senter et expliquer les conseils que tu pourras apporter <span style="color: red;">(obligatoire)</span>:</strong><br><br>
               
                <textarea type="text" id="me" name="presentation" class="area-conseillere" required> </textarea><br>
                <br>
                <div class="input-conseillere">
                <input type="submit" name="submit" value="valider" class="btn btn-primary"/>
               </div>
               <div class="bloc-emoticones-poster-message bloc-conseillere"></div>
            </fieldset>
        </form>
    </div>

</div>

</template>