<template name="recherche_mobile">
<!--<div class="new_message_head">
 <div class="titre_page_profil">Contacter un(e) conseiller(e)</div>
</div>-->

{{#if is_conseiller}}
<div style="margin-top: 50px;"></div>
{{else}}
<div class="btn btn-block btn-primary mobile_lien devenir_conseiller_search">
<a href="{{pathFor 'devenir_conseillere_mobile' }}">Devenir conseiller</a>
</div>
{{/if}}


<div class="classement_mobile" ><a href="{{pathFor 'classementComplet_mobile' }}"> Voir le classement complet</a></div>

<div class="online_conseiller_mobile" ><a href="{{pathFor 'conseiller_online_mobile' }}">Tous les conseillers en ligne</a></div>

<div class="container_user_profil_recherche mobile_recherche">

    <div class="register-form-devenir ">

        <form enctype="multipart/form-data" action="" method="post">
            
                
                    <strong style="font-size: 14px; text-decoration: underline;">Recherche avancée</strong><br/><br/>
                    <strong>Ta tranche d'&acirc;ge :</strong><br/>
                     <div data-toggle="buttons">
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="college" value="true" >  Coll&egrave;ge</label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="lycee" value="true">  Lyc&eacute;e</label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="adulte" value="true">  +18 ans</label>
                    </div>
                    <br/>

                    <strong>Dans quel domaine souhaites-tu obtenir un conseil :</strong><br/>
                    <div data-toggle="buttons">
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="amour" value="true" >  Amour  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="amitie" value="true">  Amiti&eacute;  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="confiance" value="true">  Confiance en soi  <div style="display: inline-block; margin-left: 5px"></div></label>
                     
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="sport" value="true">  Sport  <div style="display: inline-block; margin-left: 5px"></div></label>
                   
                   <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="sante" value="true">  Santé  <div style="display: inline-block; margin-left: 5px"></div></label>

                   <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="beaute" value="true">  Beauté  <div style="display: inline-block; margin-left: 5px"></div></label>

                   <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="mode" value="true">  Mode  <div style="display: inline-block; margin-left: 5px"></div></label>


                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="sexo" value="true">  Sexo  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="autre" value="true">  Autre  <div style="display: inline-block; margin-left: 5px"></div></label>
                    </div>
                    <br/> 
                    <div data-toggle="buttons">





                   
                    <strong>Je veux un conseil des : </strong><br/>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="garcon" value="garcon"  >  Garçons  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="fille" value="fille" >  Filles  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <label class="btn btn-primary btn-sm btn-circle choix"><INPUT type="radio" name="les_deux" value="true">  Les deux  <div style="display: inline-block; margin-left: 5px"></div></label>
                    <br/> <br/>
                </div>
                <input type="submit" name="submit" value="valider" class="btn btn-success right"/>
           
        </form>
    </div>

</div>
   
</template>


