<template name="valider_commentaire_mobile">
<div class="new_message_head"><i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i>

  <div class="titre_page_profil">Commentaire validé</div>
 </div>

 <div class="container_user_profil">
            <div class="panel panel-default">
                <div class="panel-body">                    
                    <hr>
                    <div class="post-content">
                       Ton commentaire a bien été posté.
                    </div>
                  
                </div>
            </div>
</div>
</template>