 #custom-search-input {
  margin-top: 5px;
  margin-right: 10px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   margin-bottom: 0;
   margin-top: 7px;
   padding: 2px 5px;
   position: absolute;
   right: 0;
   z-index: 9999;
   }
   .search-query:focus + button {
   z-index: 3;   
   }
   .all_conversation button {
   background: #f5f3f3 none repeat scroll 0 0;
   border: 1px solid #dddddd;
   height: 38px;
   text-align: left;
   width: 100%;
   }
   .all_conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }
   .all_conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all_conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .member_list .chat-body {
   margin-left: 10px;
   margin-top: 0;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list li:last-child {
   border-bottom:none;
   }

   #member_list {
   height: 580px;
   overflow-x: hidden;
   overflow-y: auto;
   display: block;
   }

   #member_bloque{
    display: none;
   }




   .sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 10px;
  width: 100%;
}

.new_message_head_mobile {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 10px;
  width: 100%;
}

.message_section {
  border: 1px solid #dddddd;
}
.chat_area {
  float: left;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 0px;
}
.chat_area li:last-child {
  padding-bottom: 40px;
}
.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write textarea.form-control {
  height: 150px;
  padding: 10px;
  background-color: white;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}

.main_section{
  margin-top: 50px;
}

.container{
  width: 100%;
  position: fixed;
}

.new_message_head{
  position: fixed;
  top: 40px;
}

.message_section {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.chat_area{
  height: 500px;
  background-color: white;
}

.valider{
  float:right;
}

.message_droite{
  display: block;
  float: right;
  background-color: #0a68b4;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  max-width: 80%;
  clear: both;
}

.message_droite_date{
  display: block;
  font-size: 12px;
  float: right;
  color: #d2d2d2;
  margin-bottom: 2px;
  max-width: 80%;
  clear: both;
  margin-top: 20px;
  
}

.message_gauche{
  display: block;
  float: left;
  background-color: #f5f3f3;
  color: #000;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 10px;
  max-width: 80%;
  clear: both;
}

.message_gauche_date{
  display: block;
  float: left;
  font-size: 12px;
  color: #d2d2d2;
  margin-bottom: 2px;
  max-width: 80%;
  clear: both;
  margin-top: 20px;
  
}

.bloquer_user{
   clear: both;
  /* position: fixed; */
  right: 0px;
  color: red;
  font-weight: bold;
  margin-left: 10px;
  /* margin-top: -20px; */
}

.bloquer_user a:hover{
  text-decoration: none;
}

.bloquer_user a:active{
  text-decoration: none;
}

.bloquer_user a{
  color: red;
}

.name_user a:hover{
    text-decoration: none;
}

.is_bloquer{
  text-align: center;
  width: 100%;
  background-color: red;
  height: 25px;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.receive_message{
  border-bottom: solid 0.5px;
}

.receive_message a:hover{
  text-decoration: none;
}

.current a{
  background-color: #0a68b4;
  color: white;

}

.current {
  color: white;
}

.pull-right{
  margin-right: 5px;
}

.delete_contact{
    width: 20px;
    float: right;
    padding: 0px;
    margin-right: 5px;
    height: 25px;
}

.nav > li > a {
    background-color: transparent;
    height: 39px;
}

.nav > li > a:focus {
    background-color: white;
    color: #000000;
}
.nav > li > a:hover {
    background-color: white;
    color: #000000;
}

.nav > li:hover {
    
}

.chat_sidebar{
  margin-left: -10px;
}

.en_cour{
  display: inline-block;
}
.user_bloquer_chat{
  display: inline-block;
}

.liste_contact_mobile{
   display: none;
}

.en_cour_mobile{
  display: none;
}

.user_bloquer_chat_mobile{
  display: none;
}


