.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: -15px;
    margin-top: -4px;
}

@media only screen and (max-width: 1010px) {

    .forget-password{
        
    }
    .inscription{
      
    }
    .triangle{
        display: inline;
    }
    .triangle2{
        margin-right: 10px;
    }

    .container-liste-conseillere{
        float: left;
        /*margin-top: 10px;*/

    }

    .menu{
        

    }

    /* -------------------------------------------------LES MESSAGES------------------------------------------ */
    .connexion-obligatoire{
        position: relative;
        top: 0px;
        font-size: 15px;
        color: #0a68b4;
    }

    .sous-titre{
        position: relative;
        margin: 0px;
        top: -20px;
        font-family: "saint denis";
        font-size: 40px;
        color: #0a68b4;
    }
    .site-content{
        position: relative;
        top: 0px;

    }
    .site-content::after {
       /* content: "";
        background: url(/img/background.jpg) ;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;*/
    }


    .container-messages{
        /*border-color: #000000;
        border-width: 2px;
        border-style: solid;*/
        /*margin-top: 10px;*/
        /* float: right; */
        /* width: 80%; */
        margin-left: 250px;
        margin-right: 25px;
        /* height: 5000px; */

    }

        .container-messages-acceuil{
        /*border-color: #000000;
        border-width: 2px;
        border-style: solid;*/
        /*margin-top: 10px;*/
        /* float: right; */
        /* width: 80%; */
        margin-left: 250px;
        margin-right: 25px;
        /* height: 5000px; */

    }

    .container-messages-password{
        margin-top: 10px;
        margin-left: 250px;
        margin-right: 25px;

    }


    .container-messages-pro{
        /*border-color: #000000;
        border-width: 2px;
        border-style: solid;*/
        margin-top: 10px;
        /* float: right; */
        /* width: 80%; */
        margin-left: 250px;
        margin-right: 25px;
        /* height: 5000px; */

    }

    .message-gauche{

    /*border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    /*min-height: 210px;*/
    background-color: #ffffff;
    border-radius: 2px;
    /*margin-right: 20px;*/
    margin-top: 15px;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.7); 
    }


    .triangle-gauche-blanc{
        margin-top: -40px;
        margin-left: 16px;
        width: 0px;
        height: 0px;
        border-left: 19px solid #ffffff ;
        border-top: 19px solid #ffffff;
        border-right: 19px solid transparent ;
        border-bottom: 19px solid transparent;
    }

    .triangle-gauche-noir{
        margin-top: 26px;
        margin-left: 15px;
        width: 0px;
        height: 0px;
        border-left: 20px solid #000000 ;
        border-top: 20px solid #000000;
        border-right: 20px solid transparent ;
        border-bottom: 20px solid transparent;
    }

    .message-droite{
        border-color: #000000;
        border-width: 1px;
        border-style: solid;
        height: 210px;
        background-color: #ffffff;
        border-radius: 10px;
        margin-bottom: 60px;
        margin-left: 30px;
    }
    .triangle-droit-blanc{
        float: right;
        margin-top: 59px;
        margin-right: -89px;
        width: 0px;
        height: 0px;
        border-right: 19px solid #ffffff ;
        border-bottom: 19px solid transparent;
        border-left: 19px solid transparent ;
        border-top: 19px solid #ffffff;
    }

    .triangle-droit-noir{
        float: right;
        margin-top: 59px;
        margin-right: -90px;
        width: 0px;
        height: 0px;
        border-right: 20px solid #000000 ;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent ;
        border-top: 20px solid #000000;
    }



    .container-messages-gauche{
        margin-left: 0px;
        color: #000000;
        border-color: #000000;
        /*border-width: 1px;
        border-style: solid;
        height: 200px;*/

    }
    .content-message-gauche{
        min-height: 122px;
        color: #000000;
        font-family: lato;
        font-size: 15px;
        line-height: 20px;
        padding: 8px;
        /*overflow-y: hidden;*/
        margin-bottom: 20px;
        text-align: justify;
        /*border-color: #000000;
        border-width: 1px;
        border-style: solid;*/
    }


    .date-message{
        display: inline-block;
    }
    .nbr-reponse{
        display: inline-block;
        margin-left: 10px;
    }
    .signaler{
        display: inline-block;
        margin-left: 10px;
        color: red;
    }

    .pseudo-user{
        /* border-color: #000000;
         border-width: 1px;
         border-style: solid;*/
        width: 90px;
        height: 20px;
        border-radius: 5px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        color: #000000;
    }

    .user_online{
        float: right;
        margin-right: 10px;
        
    }

    .repondre {
        margin-right: 10px;
        margin-top: 4px;
    }

    .demande-ami{
        /* border-color: #000000;
         border-width: 1px;
         border-style: solid;*/
        width: 90px;
        height: 25px;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 10px;
        color: #000000;
        text-align: left;
        font-weight: bold;
        line-height: 20px;
        /*background-color: #5cb85c;*/


    }
    .send-private-message{
        /* border-color: #000000;
         border-width: 1px;
         border-style: solid;*/
        width: 90px;
        height: 25px;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 0px;
        color: #000000;
        line-height: 20px;
        text-align: left;
        font-weight: bold;

        /*background-color: #d9534f;*/
    }
    .user-profil{
        /*border-color: #000000;
        border-width: 1px;
        border-style: solid;*/
        width: 90px;
        height: 25px;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 0px;
        color: #000000;
        text-align: left;
        font-weight: bold;
        /*background-color: #f0ad4e;*/
    }
    .site-pusher{
        /*width: 800px;*/
        
    }

    .side-bar-right{
        display: none;
    }

    .mobile_lien{
        display: none;
    }

    .ecran{
        display: inline-block;
    }





}

@media only screen and (max-width: 815px) {
    /* --------------------------------------   Menu ------------------------------------------------- */
    .site-container{
        
    }

    body{
        background-color: none;
    }

    .login_meteor1{
        /*display: none;*/
    width: auto;
    float: left;
    margin-top: -10px;
    margin-left: 30px;
    }

    .login_meteor1 .dropdown{
        background-color: #0a68b4;
        height: 37px;
    }

    .navbar-toggle1 {
    position: relative;
    float: right;
    /*margin-bottom: 8px;*/
    background-color: #0a68b4;
    background-image: none;
    border-style: none;
    margin-left: 10px;
   }

    .navbar-toggle1 a{
    color: white;
    margin-top: 5px;
   }


    .site-pusher{
        width: 100%;
        height: 100%;
        transition-duration: 0.3s;
        transform: translateX(0px);
    }
    .header{
        position: fixed;

    }

    .site-content{
        padding-top: 0px;
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .icon {
        float: left;
        background-image: url("/img/menu.png");
        background-repeat:no-repeat;
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: 3px;
        cursor: pointer;

    }

    .menu{
        display: none;

    }

    #btnRespNav{
     display: block;
    }

    .width--sidebar .site-pusher{
        transform: translateX(250px);
    }

    .width--sidebar .site-cache{
        position: absolute;
        width: 100%;
        left: 0;
        top: 66px;
        bottom: 0;
        background-color: #000000;
        opacity: 0.6;

    }
     .container-messages{
        margin-top: 10px;
        /*float: left;
        /*width: 80%;*/
        margin-left: 0px;
        margin-right: 0px;
        /*height: 5000px;*/
        /*border-color: #000000;
        border-width: 2px;
        border-style: solid;*/

    }

     .container-messages-acceuil{
        margin-top: -30px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #c3c3c3;
        padding-bottom: 20px;
    }


     .container-messages-password{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 3px;
    }

    .container-liste-conseillere{
        display: none;
    }


    .container{
        width: 250px;
        margin-top: 0px;
        background-color: #dde0e4;
    }

    .container ul li{
        text-align: left;
            /*background-color: #0a68b4;*/
    }

    .none{
        display: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
       display: none;
    }


    img {
      
        /*margin-top: 10px;*/
    }

    .triangle{
        display: none;
    }

    .inscription {
       
    }

    .form-connexion .form-group {
        margin-left: 10px;
    }
    .presentation-user{

    }
    .logo-kurbys-disconnect {
        display: none;

    }
    .logo-kurbys-small a{
       /* text-decoration: none;
        color: #0a68b4;*/
    }

    .menu-page-login{
        margin-top: 5px;

    }

    .logo-kurbys{
        display: none;
        /*margin-left: -15px;*/
    }

    .slogan{
        display: none;
    }

    .devenir-conseillere-entete{
    display: block;
    }

    .devenir-conseillere-entete a{
    text-decoration: none;
    }

    .demande-ami-conseillere{
        display: none;

    }

    .user-profil-conseillere{
        display: none;
    }

    .personne-aide-conseillere{
        display: none;

    }

    .indice-confiance-conseillere{
        margin-top: 10px;
    }

    .legend_classement{
        font-size: 14px;
        height: 30px;
        padding-top: 5px;
    }

    .categorie_msg_message{
    display: none;
    }

    .choix-theme{
    display: none;
    }

     .choix-deroulant{
    display: inline-block;
    }

    .message_section{
        display: none;
    }

    .chat_sidebar{
        width: 100%;
        padding: 0px;

    }

    .container{
        width: 100%;
        margin-top: -50px;
        padding: 0px;

    }

    .liste_contact_grand{
     display: none;
    }

     .liste_contact_mobile{
     display: block;
    }

    #member_list{
        display: none;
    }

    #member_bloque{
        display: none;
    }


   #member_bloque_mobile{
    display: none;
   }

    .en_cour_mobile{
      display: inline-block;
      width: 49%;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #e2e2e2;

    }

    .user_bloquer_chat_mobile{
      display: inline-block;
      width: 49%;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #e2e2e2;

    }

    .dropdown {
      background-color: #e2e2e2;
    
    }

    .en_cour{
      display: none;
    }

    .user_bloquer_chat{
      display: none;
    }

    .current a{
      background-color: #dde0e4;
      color: black;
    }

     .current {
      background-color: #dde0e4;
      color: #666666;}

    .correspondant{
    margin-left: 15px;
    padding-bottom: 5px;
    border-style: none;
    background-color: #f5f3f3;
    }

    .new_message_head{
    /* padding: 0px; */
    height: 40px;
    top: 30px;
    display: block;
    position: fixed;
    padding-top: 2px;
    }


    .new_message_head_mobile{
        padding: 0px;
        height: 60px;
        top: 30px;
        display: block;
        position: fixed;
    }

    .retour{
    margin-top: 8px;
    margin-left: 10px;
    float: left;
    margin-right: 10px;
    }

    .retour_mobile{
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    margin-right: 10px;
    }

    .name_user{
        margin-top: 10px;
    }

    .col-sm-9{
        width: 100%;
    }

    .message_write{
        padding: 0px;
        background: none;
        position: fixed;
        bottom: 40px;
        background-color: white;
    }

    .message_write textarea.form-control{
        float: left;
        height: 40px;
        width: 80%
    }

    .footer_mobile{
        display: block;
        position: fixed;
        bottom:0px;
        height: 35px;
        background-color: #0a68b4;
        width: 100%;
    }

    .footer_1{
        display: inline-block;
        width: 24%;
        color: white;
        text-align: center;
        margin-top: 5px;
    }


    .footer_1 a{
      color: white;  
    }

    .header{
        height: 35px;
    }


    .header_1 {
        display: inline-block;
        width: 10%;
        color: white;
        text-align: center;
        margin-top: 0px;
        float: left;
    }

    .header_2{
        display: inline-block;
        width: 28%;
        color: white;
        text-align: center;
        margin-top: 5px;
    }

    .header_3{
        display: inline-block;
        width: 28%;
        color: white;
        text-align: center;
        margin-top: 5px;
    }

    .header_4{
        display: inline-block;
        width: 28%;
        color: white;
        text-align: center;
        margin-top: 5px;
    }


::-webkit-input-placeholder {
   /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
   padding-left: 5px;
   padding-top: 5px;
}

:-moz-placeholder { /* Firefox 18- */
   /*padding-top: 5px;*/
   padding-left: 5px;
   padding-top: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
   /*padding-top: 5px;*/
   padding-left: 5px;
   padding-top: 5px;
}

:-ms-input-placeholder {  
   padding-top: 5px;
   padding-left: 5px;
}

    .chat_area{    
    height: 75%;
    background-color: white;
    position: fixed;
    top: 85px;
    }

    .valider{
        margin-top: 3px;
    }

    .member_list_mobile .chat-body {
   margin-left: 10px;
   margin-top: 0;
   }

   .member_list_mobile .contact_sec {
   margin-top: 3px;
   }
   .member_list_mobile li {
   padding: 6px;
   }
   .member_list_mobile ul {
   border: 1px solid #dddddd;
   }

   .member_list_mobile li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list_mobile li:last-child {
   border-bottom:none;
   }

   #member_list_mobile {
   height: 1000px;
   overflow-x: hidden;
   overflow-y: auto;
   display: block;
   }

   .user_send_contact{
    float: left;
    margin-left: 35px;
    clear: both;

   }

   .receive_message_mobile {
    height: 50px;
    padding-top: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
   }

   .contact_sec{
    clear: both;
    float: left;
    margin-left: 35px;
   }

   .pull-right{
    margin-right: 20px;
   }

   .notif_mobile{
    min-height: 35px;
    padding-left: 10px;
    margin-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
   }

    .notif_mobile a:hover{
    text-decoration: none;
   }

    .notif_mobile a{
    color: black;
   }

   .oui_mobile{
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
   }

   .non_mobile{
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
   }

   .titre_notifications{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    display: block;

   }

   .notif_footer{
    margin-left: -10px;
   }

   .confiance_profil{
    margin-top: 50px;
    margin-left: 10px;
   }

   .raty{
    margin-left: 10px;
   }

   .name_profil{
    margin-left: 10px;
    margin-top: 10px;
    height: 20px;
   }

   .status_conseiller_mobile{
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
   }

   .choix_profil{
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    padding: 10px;
    float: left;

   }

   .pull-left-profil{
    margin-top: 10px;
   }

   .badge{
    float: right;
   }

   .tab-pane {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px; 
    }

    .tab-pane-amis{
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px; 
    }

    .panel{
    border-style: none;
    }

    .panel-body{
    margin-top: -60px;
    }

    .panel-body-amis{
        margin-top: -40px;
        margin-left: 10px;
    }

    .titre_page_profil{
        margin-top: 8px;
        margin-left: 20px;
        font-size: 16px;
        text-align: center;
    }


    .mobile_recherche{
        margin-left: 10px;
    }

    .footer-message_acceuil{
        height: 60px;
    }

    .header a{
        /*color: white;*/
    }


    .header_1 a {
    
    }


    .header_1 a:hover {
     
    }



    .bloquer_user{
    clear: both;
    float: left;
    margin-top: -10px;
    margin-left: 65px;
    }

    .bloquer_user a{
        text-decoration: none;
    }

    .classement_mobile{
        width: 100%;
        height: 40px;
        background-color: #a50000;
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
        color: white;
        margin-top: 5px;
    }

    .classement_mobile a:hover{
        text-decoration: none;
    }

    .classement_mobile a{
        color: white;
    }

    .button_right{
        margin-top: 0px;
    }

    .valider_footer{
        margin-right: 5px;
    }

    .btn-block{
        /*font-size: 16px;*/
        padding: 1px;
    }

    .ecran{
        display: none;
    }

    .mobile_lien{
        display: inline-block;
    }

    .profil-connecté{
        margin-left: 10px;
    }

    .button_profil{
        margin-bottom: 5px;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }

    .button_profil a:hover{
        text-decoration: none;
    }

    .profil-connecté{
        margin-bottom: 5px;
        margin-top: -10px;
    }

    .post-content{
        padding-top: 8px;
    }

    .button_profil_hist{
        margin-top: -40px;
        margin-bottom: 10px;
    }

    .form-group{
        padding-left: 5px;
    }

    .post-content-alerte{
        margin-bottom: 10px;
        background-color: white;
        padding: 10px;
        font-size: 14px;

    }

    .content-alertes{
        margin-top: 10px;
    }

    .blanc{
        background-color: white;
    }

    .titre_alerte{
        font-weight: bold;
        margin-left: 8px;
        font-size: 14px;
    }

    .status_conseiller_mobile a:hover{
        text-decoration: none;
    }

    .devenir_conseiller_accueil {
        margin-top: 45px;
        height: 30px;
        font-size: 16px;  
    }

    .devenir_conseiller_accueil a{
        color: white;
    }

    .devenir_conseiller_accueil a:hover{
        text-decoration: none;
    }

    .devenir_conseiller_search {
        margin-top: 80px;
        height: 30px;
        font-size: 16px;

    }

    .devenir_conseiller_search a{
        color: white;
    }

    .devenir_conseiller_search a:hover{
        text-decoration: none;
    }

    .right{
        float: right;
        margin-right: 10px;
    }

    .slideout-menu{
        background-color: #e8e8e8;
        color: black;
    }

    .slideout-menu h3{
    color: black;
    border-bottom-color: #0a68b4;
    }

    .slideout-menu ul li a{
    color: black;
    border-bottom-color: #0a68b4;
    height: 40px;
    }

    .slideout-menu ul li a:hover{
    background-color: #0a68b4;
    }


    .slideout-menu ul li{
    border-bottom-color: #0a68b4;
    }

     .Inscription_mobile{
    margin-top: 8px;
    margin-left: 5px;
    font-size: 16px;
    text-align: center;
    list-style: none;
    }

    .Inscription_mobile a:hover{
        text-decoration: none;
    }

    .Inscription_mobile .dropdown{
        background-color: #4caf50;
    }

    .Inscription_mobile #login-dropdown-list .dropdown-menu {
      background-color: white;
      color: red;
    }

    .Inscription_mobile #login-dropdown-list .dropdown-menu a {
      color: black;
    }

    .titre_page_connexion{
    margin-top: 8px;
    margin-left: 5px;
    font-size: 16px;
    text-align: center;
    list-style: none;
    }

    .titre_page_connexion a:hover{
        text-decoration: none;
    }

    .titre_page_connexion .dropdown{
        background-color: #e8e8e8;
    }

    .titre_page_connexion #login-dropdown-list .dropdown-menu {
        
    }

    .valider_acceuil{
    	font-size: 14px;
    	
    }

    .form_acceuil{
    	margin-bottom: 10px;
        margin-top: 40px;
    }

    .modifier_message a {
    color: black;
    }

    .modifier_message a:hover {
    color: black;
    }

    .repondre a {
    color: black;
    text-transform: none;
    text-decoration: none;
   }

   .repondre a:hover {
    color: black;
    text-transform: none;
    text-decoration: none;
   }

   .date-message {
    margin-top: 0px;
    /*float: right;*/
    /*width: 30%*/
	}

	.private_message {
    float: right;
    margin-right: 10px;
    width: 25%;
    text-align: right;
  	}

	.repondre {
	    margin-right: 10px;
	  
	    width: 20%;
	    text-align: center;
	}

	.footer_mobile_second{
		/*width: 100%;*/
		margin-top: -10px;
        /*margin-left: -30px;*/

	}

	.block_footer{
		/*width: 30%;*/
		float: right;
	}

	.categorie_msg {
     margin-top: 0px;
     margin-left: 0px;
     /*width: 200px;*/
     /*display: none;*/
 	}

    .footer_mobile_left{
        float: left;
    }

    .nbr-reponse{
        width: 100px;
    }

    .container_user_overflow{
        height: 700px;
        overflow: auto;
        background-color: white;

    }

    .container_user_profil{
    display: block;
    margin-top: 80px;
    padding-bottom: 30px;
   }

    .container_user_histoire{
    display: block;
    margin-top: 80px;
    background-color: white;
   }

   .register-form-devenir {
    height: 580px;
    border-radius: 0px;
    box-shadow: none;
    padding-top: 5px;
   }

   .container_user_alerte{
    margin-top: 80px;
   }

    










}


   


    

@media only screen and (max-height:800px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 50px;
}
#member_list{
    height: 600px;
}
}

@media only screen and (max-height:750px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 100px;
}
#member_list{
    height: 550px;
}
}

@media only screen and (max-height:700px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 150px;
}

}

@media only screen and (max-height:650px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 200px;
}
#member_list{
    height: 500px;
}
}

@media only screen and (max-height:600px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 250px;
}
#member_list{
    height: 450px;
}
}

@media only screen and (max-height:550px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 300px;
}
#member_list{
    height: 400px;
}
}

@media only screen and (max-height:500px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 350px;
}
#member_list{
    height: 350px;
}
}

@media only screen and (max-height:450px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 400px;
}
#member_list{
    height: 300px;
}
}

@media only screen and (max-height:400px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 450px;
}
#member_list{
    height: 250px;
}
}

@media only screen and (max-height:350px){
.chat_area .admin_chat .chat-body1 {
    margin-top: 500px;
}
#member_list{
    height: 200px;
}
}


@media only screen and (max-width:815px) and (max-height:480px){

   #member_list_mobile {
   height: 400px;
   overflow-x: hidden;
   overflow-y: auto;
   display: block;
   
   }

    .container_notificiations {
    display: block;
    margin-top: 40px;
    /*height: 380px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
   
   }

   .container_user_profil{
    display: block;
    margin-top: 80px;
    /*height: 380px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    /*background-color: #e8e8e8;*/
   }

   .container_user_profil_recherche {
    display: block;
    margin-top: 30px;
    /*height: 280px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

    .container_user_histoire{
    display: block;
    margin-top: 80px;
    /*height: 380px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: white;
   }

   .container_user_alerte{
    display: block;
    margin-top: 40px;
    /*height: 380px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
   background-color: white;
   }


}

@media only screen and (max-width:815px) and (min-height:533px){

   #member_list_mobile {
   height: 420px;
   overflow-x: hidden;
   overflow-y: auto;
   display: block;
   
   }

    .container_notificiations {
    display: block;
    margin-top: 40px;
    /*height: 400px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

    .container_user_profil{
    display: block;
    margin-top: 80px;
    /*height: 400px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    /*background-color: #e8e8e8;*/
   }

   .panel-body-amis{
        margin-top: -60px;
        margin-left: 10px;
        background-color: #eee;
    }

    .container_user_profil_recherche {
    display: block;
    margin-top: 30px;
    /*height: 320px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

       .container_user_histoire{
    display: block;
    margin-top: 80px;
    /*height: 400px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: white;
   }

   .container_user_alerte{
    display: block;
    margin-top: 40px;
    /*height: 400px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
   background-color: white;
   }
}

@media only screen and (max-width:815px) and (min-height:568px){

   #member_list_mobile {
   height: 480px;
   overflow-x: hidden;
   overflow-y: auto;
   display: block;
  
   }

    .container_notificiations{
    display: block;
    margin-top: 40px;
    /*height: 460px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

    .container_user_profil{
    display: block;
    margin-top: 80px;
    /*height: 460px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    /*background-color: #e8e8e8;*/
   }

      .container_user_profil_recherche {
    display: block;
    margin-top: 30px;
    /*height: 360px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

       .container_user_histoire{
    display: block;
    margin-top: 80px;
    /*height: 460px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: white;
   }

   .container_user_alerte{
    display: block;
    margin-top: 40px;
    /*height: 460px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
   background-color: white;
   }
}

@media only screen and (max-width:815px) and (min-height:640px){

   #member_list_mobile {
   height: 540px;
   overflow-x: hidden;
   overflow-y: auto;
   display: block;
   
   }

    .container_notificiations{
    display: block;
    margin-top: 40px;
    /*height: 520px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

   .container_user_profil{
    display: block;
    margin-top: 80px;
    /*height: 520px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    /*background-color: #e8e8e8;*/
   }

      .container_user_profil_recherche {
    display: block;
    margin-top: 30px;
    /*height: 420px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

       .container_user_histoire{
    display: block;
    margin-top: 80px;
    /*height: 520px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: white;
   }

   .container_user_alerte{
    display: block;
    margin-top: 40px;
    /*height: 520px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: white;
   }
}

@media only screen and (max-width:815px) and (min-height:667px){

   #member_list_mobile {
   height: 570px;
   overflow-x: hidden;
   overflow-y: auto;
   display: block;
   
   }

    .container_notificiations{
    display: block;
    margin-top: 50px;
    /*height: 550px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

   .container_user_profil{
    display: block;
    margin-top: 80px;
    /*height: 550px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    /*background-color: #e8e8e8;*/
   }

      .container_user_profil_recherche {
    display: block;
    margin-top: 30px;
    /*height: 450px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    
   }

       .container_user_histoire{
    display: block;
    margin-top: 80px;
    /*height: 550px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: white;
   }

   .container_user_alerte{
    display: block;
    margin-top: 40px;
    /*height: 550px;*/
    /*overflow-x: hidden;
    overflow-y: auto;*/
   background-color: white;
   }
}
@media (min-width: 768px){

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: none;
}
}

/*
@media only screen and (max-width: 767px) {

    .menu{
        display: none;
    }

    #btnRespNav{
     display: block;
    }

    .navbar-toggle1 {
    position: relative;
    float: right;
    margin-bottom: 8px;
    background-color: #0a68b4;
    background-image: none;
    border-style: none;
    height: 40px;
   
   }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .member_list_mobile {
       height: 50%;
       overflow-x: hidden;
       overflow-y: auto;
       display: none;
   }

      .message_write {
      display: block;
      background: #f5f3f3 none repeat scroll 0 0;
      /*position: fixed;
      bottom: 0px;*/
      /*padding: 15px;
      width: 100%;*/
      /*right: 15px;*/

/*    }

    #msgbox{

    }

    .message_section {

   }


    .lien_chat{
      display: none;

    }

    .lien_chat_mobile{
      display: initial;

    }

    .dropdown_mobile{
     display: none;
      
    }

    .emoticones_mobile{
        display: none;
    }

    .message_write{
        display: none;
    }

    .search{
    display: none;
   }




}

@media only screen and (max-width: 490px) {
    .triangle-droit-blanc{
        display: none;
    }

    .triangle-droit-noir{
        display: none;
    }

    .triangle-gauche-blanc{
        display: none;
    }

    .triangle-gauche-noir{
        display: none;
    }
    .signaler{
        display:none;
    }
    .message-droite{
        margin-left: 0px;
    }

    .inscription-small{

    display: inline-block;
    position: relative;
    text-transform: none;
    padding-top: 5px;

     }

     .inscription{
     display: none;
     position: relative;
     text-transform: none;
     }

     .logo-kurbys{
        display: none;
    /*float: left;
    font-family: "saint denis";
    font-size: 30px;
    color: #ffffff;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    top: 3px;

    }

    .choix{

        margin-top: 5px;
        
    }

    .choix-deroulant{
    display: inline-block;
    }

    .choix-deroulant label{
    margin-bottom: 2px;
    }

    .date-message{
    display: none;   
    }

     .container-messages{
        margin-left: 5px;
        margin-right: 5px;
    }

    .nbr-reponse{
        margin-top: 15px;
    }

    .container-messages a{
        text-decoration: none;
    }

    .contact_login{
        display: none;
    }

    .logo-kurbys-disconnect {
        display: none;

    }

    .logo-kurbys img{
        display: none;

    }

    .dropdown {

	}

	.pull-right {
    display: none;
	}

	.pull-left span{
		display: none;
	}

	.new_message_head {
    padding: 8px 10px;
	}

	.emoticones{
		display: none;
	}

	.message_write textarea.form-control {
    height: 50px;
    padding: 10px;
	}

	.profil {
    float: right;
    margin-right: 10px;
    margin-top: 115px;
    padding: 5px;
    height: 30px;
    text-transform: none;
	}	

	.emoticones-repondre-message{
		display: none;
	}

	.commentaire{
		display: none;
	}

    .JB{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 35%;

    }

    .table_conseiller{
        display: none;
    }

    .categorie_msg{
        display: none;
    }

    .search{
    display: none;
   }



}


.slideout-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #0a68b4;
    z-index: 100;
}

.slideout-menu .slideout-menu-toggle {
    display: none;
}

.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    height: 50px;
}

.slideout-menu ul li a:hover {
    position: relative;
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: white;
}

.slideout-menu ul li {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #151515;
    height: 50px;
    font-size: 15px;
}

*/



