<template name="confirmation_rejoindre">
{{classement}} 
{{> side_bar_right }}
{{> side_bar_left }}

<div class="container-messages-acceuil">

    <div class="register-form-devenir blanc">
         
        <fieldset>
         <legend style="text-align: center;" >Confirmation d'inscription</legend>
        <div class="confirmation_conseillere">
        
        <span >Merci de nous aider à faire grandir Kurbys !<br><br>
            Nous allons rapidement t'envoyer un mail pour te confirmer que tu as bien rejoint l'équipe.<br><br>
            A très vite.<br><br>

            Jean-Benoit, Caroline, Ambre
        </span>
        </div>

        </fieldset>
    </div>

</div>

</template>