<template name="confirmation_don">
{{classement}} 
{{> side_bar_right }}
{{> side_bar_left }}

<div class="container-messages-acceuil">

    <div class="register-form-devenir blanc">
         
        <fieldset>
         <legend style="text-align: center; font-weight: bold;" >Opération réussi</legend>
        <div class="confirmation_conseillere">
        
        <span >Ton don a bien été envoyé.<br><br>
            <br><br>

            
        </span>
        </div>

        </fieldset>
    </div>

</div>

</template>