<template name="contact">
{{classement}}
{{> side_bar_right }}
{{> side_bar_left }}

<div class="container-messages-acceuil affiche">

    <div class="register blanc">

	    <form id="contact" method="post" action="message_envoye_contact.php">

		    <fieldset><legend style="color: #0a68b4"><b>Contact</b></legend>
		         <div class="presentation-sites">Pour tous renseignements, vous pouvez nous contacter à cette adresse : <br><br></div>
		       
		    </fieldset>
		 
		    <fieldset>
		        <strong>editions@seconde-vie.fr</strong><br/>
		        
		    </fieldset>
		 
		   
	    </form>

	    <span id="span"></span><br>





    </div>

</div>	

</template>