<template name="header">
<div class="site-container" >
      <!--{{user_IP }}
      {{user_bloquer_url}}-->
      {{last_login_conseillere}}
          <div class="header">
             {{#if currentUser}}{{else}}
             <span class="slogan">Des conseils, des solutions - Inscription gratuite</span>
             {{/if}}
              <div class="header_1">
              
                  <button type="button" id="btnRespNav" class="btn-navbar navbar-toggle1 slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse"><a href="" id="icon"><i class="fa fa-2x fa-bars" style="color: #337ab7" aria-hidden="true"></i></a><!--icone hamburger --></button>
             </div>
             
{{#if currentUser}}
             <div class="logo-kurbys-disconnect"><a href="{{pathFor 'postsList'}}"><img src="/img/logo_site.png" width="30px" height="30px;"></a></div> 
{{else}}
             <div class="logo-kurbys-disconnect"><a href="{{pathFor 'postsList'}}"><img src="/img/logo.png" width="150px" height="30px;"></a></div>
             {{/if}} 

{{#if currentUser}}

                <!--<a href="{{pathFor 'recherche_mobile'}}"><div class="header_2">
                   <i class="fa fa-2x fa-search" style="color: #337ab7" aria-hidden="true"></i>
                  </div>
                </a>
                <a href="{{pathFor 'amis_mobile' post_author=id}}"><div class="header_3">
                   <i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i>
                  </div>
                </a>
                <a href="{{pathFor 'alertes_mobile' post_author=id}}"> <div class="header_4">
                  <i class="fa fa-2x fa-bell" aria-hidden="true"></i>
                
                {{#if notificationCount_alerte}} 
                  <span class="badge_red badge-inverse notif notif_footer">{{notificationCount_alerte}}</span>
                {{/if}}
                
                </div>
                </a>-->

                <div class=" mobile_lien">
                  {{#if index}}
                  <div class="devise_index">{{titre}}</div>

                  {{else}}
                  <i class="fa fa-2x fa-arrow-left retour" aria-hidden="true"></i> 
                  <span class="devise">{{titre}}</span>
                  {{/if}}
               </div>

              <div class="menu">

                <div class="container-fluid1">
                    <ul class="nav navbar-nav"> 
                      <li>
                        <div class="search">
                          <div class="span12">
                           <!-- <div id="custom-search-input">
                               <div class="input-group col-md-12">
                                  <input type="text" class="  search-query form-control" placeholder="Rechercher pseudo" />
                                  <button class="btn btn-danger" type="button">
                                  <span class=" glyphicon glyphicon-search"></span>
                                  </button>
                               </div>
                            </div>-->
                          </div>
                        </div>
                      </li>
  
                      <li><div id="notification1"> </div>
                      </li>
                      <li><a href="{{pathFor 'postsList'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                      

                      <div class="mobile_lien"> <li ><a href="{{pathFor 'messagerie'}}"  >Messagerie</a></li></div>
                       <li class="ecran"><a class="messagerie_ecran">Messagerie</a></li>
                      
                      <li><a href="{{pathFor 'presentation' post_author=id}}" >Profil</a></li>
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        
                        <ul class="dropdown-menu">
                          
                          <li><a href="{{pathFor 'le_secret_de_cendrillon'}}" style="color:black"><i class="fa fa-book" style="color:#0a68b4" aria-hidden="true"></i> Le Secret de Cendrillon</a></li>

                          <li><a href="{{pathFor 'poeme'}}" style="color:black"><i class="fa fa-heart" style="color:#0a68b4" aria-hidden="true"></i> Poèmes</a></li>
                          
                          <li><a href="{{pathFor 'numero'}}" style="color:black"><i class="fa fa-phone" aria-hidden="true" style="color:#0a68b4" ></i> Numéros utiles</a></li>
                          
                          <li><a href="{{pathFor 'signaler_bug'}}" style="color:black"><i class="fa fa-bug" aria-hidden="true" style="color:#0a68b4"></i> Signaler un bug</a></li>
                          
                          <li><a href="{{pathFor 'ameliore_site'}}" style="color:black"><i class="fa fa-thumbs-up" aria-hidden="true" style="color:#0a68b4"></i> Améliorer le site</a></li>
                          
                          <li><a href="{{pathFor 'contact'}}" style="color:black"><i class="fa fa-envelope" aria-hidden="true" style="color:#0a68b4"></i> Contact</a></li>
                         <!-- <li role="separator" class="divider"></li>
                          <li><a href="le-secret-de-cendrillon.php">Le secret de Cendrillon</a></li>
                          <li role="separator" class="divider"></li>-->
                          
                          <li><a href="{{pathFor 'supprimer_compte'}}" style="color:black"><i class="fa fa-trash" aria-hidden="true" style="color:#0a68b4"></i> Supprimer mon compte</a></li>
                        </ul>
                      
                      </li>
                    </ul>

                    <ul class="nav navbar-nav">
                      <li class="dropdown">  {{> notifications}}
                       

                      </li>

                    </ul>
                </div><!-- /.container-fluid -->               
              </div> <!-- menu -->
{{/if}}
              
                  <div class="nav navbar-nav login_meteor1 ecran">
                      <!--  {{> loginButtons align="right"}}-->
                      <li><a href="{{pathFor 'connexion_mobile'}}" ><i class="fa fa-power-off" aria-hidden="true"></i></a></li> 

                      <li><a href="{{pathFor 'contact'}}" ><i class="fa fa-envelope" aria-hidden="true"></i></a></li> 
  
                  </div>
             
                    
                     
    </div><!--  header -->
    
    </div><!--  site-container -->
                     
 


</template>


<template name="menuItems">
  <div class="slideout-menu">
    <h3>Menu </h3>
    <ul>
        <li><a href="{{pathFor 'postsList'}}"><i class="fa fa-home" aria-hidden="true"></i>  <span style="margin-left: 20px;">Accueil</span></a></li>
        <li><a href="{{pathFor 'connexion_mobile'}}"><i class="fa fa-power-off" aria-hidden="true"></i><span style="margin-left: 20px;">Connexion</span></a></li>
       <li><a href="{{pathFor 'le_secret_de_cendrillon'}}"><i class="fa fa-book" aria-hidden="true"></i><span style="margin-left: 20px;">Le Secret de Cendrillon</span></a></li>

       <li><a href="{{pathFor 'poeme'}}"><i class="fa fa-heart" aria-hidden="true"></i><span style="margin-left: 20px;">Poèmes</span></a></li>

        {{#if currentUser}}
         <li><a href="{{pathFor 'numero'}}" ><i class="fa fa-phone" aria-hidden="true" ></i><span style="margin-left: 20px;">Numéros utiles</span></a></li>
        <li><a href="{{pathFor 'signaler_bug'}}"><i class="fa fa-bug" aria-hidden="true"></i><span style="margin-left: 20px;">Signaler un bug</span></a></li>

        <li><a href="{{pathFor 'supprimer_mon_compte'}}"><i class="fa fa-trash" aria-hidden="true"></i><span style="margin-left: 20px;">Supprimer mon compte</span></a></li>
        {{/if}}
        <li><a href="{{pathFor 'contact'}}"><i class="fa fa-envelope" aria-hidden="true"></i><span style="margin-left: 20px;">Contact</span></a></li>
    </ul>
  </div>
  <!--/.slideout-menu-->
</template>



