<template name="poeme">
{{classement}}
{{> side_bar_right }}
{{> side_bar_left }}

<div class="container-messages-acceuil affiche">

    <div class="register blanc">

	    <form id="contact" method="post" action="message_envoye_contact.php">

		    <fieldset><legend style="color: #0a68b4; text-align: center;"><b>Poèmes</b></legend>
		         <div class="poeme">
		         	<strong style="text-align: center;">La vie est la vie</strong><br><br>

				La vie est beauté, admire-la. <br>
				La vie est félicité, profites-en.<br>
				La vie est un rêve, réalise-le.<br>
				La vie est un défi, relève-le.<br>
				La vie est un devoir, fais-le.<br>
				La vie est un jeu, joue-le.<br>
				La vie est précieuse, soigne-la bien.<br>
				La vie est richesse, conserve-la.<br>
				La vie est amour, jouis-en.<br>
				La vie est un mystère, pénètre-le.<br>
				La vie est une promesse, tiens-la.<br>
				La vie est tristesse, dépasse-la.<br>
				La vie est un hymne, chante-le.<br>
				La vie est un combat, accepte-le.<br>
				La vie est une tragédie, lutte avec elle.<br>
				La vie est une aventure, ose-la.<br>
				La vie est bonheur, mérite-le.<br>
				Le vie est un choix, choisis bien.<br>
				La vie est la vie, défends-la.<br><br><br>

					<strong style="text-align: center;">Faites le quand même...</strong><br><br>

				Les gens sont souvent déraisonnables, illogiques et centrés sur eux-mêmes,<br> Pardonne les quand même...<br><br>
				Si tu es gentil, les gens peuvent t'accuser d'être égoïste et d'avoir des arrières pensées,<br>
				Sois gentil quand même...<br><br>
				Si tu réussis, tu trouveras des faux amis et des vrais ennemis,<br>
				Réussis quand même...<br><br>
				Si tu es honnête et franc, il se peut que les gens abusent de toi,<br>
				Sois honnête et franc quand même...<br><br>
				Ce que tu as mis des années à construire, quelqu'un pourrait le détruire en une nuit,<br>
				Construis quand même...<br><br>
				Si tu trouves la sérénité et la joie, ils pourraient être jaloux,<br>
				Sois heureux quand même...<br><br>
				Le bien que tu fais aujourd'hui, les gens l'auront souvent oublié demain,<br>
				Fais le bien quand même...<br><br>
				Donne au monde le meilleur que tu as, et il se pourrait que cela ne soit jamais assez,<br>
				Donne au monde le meilleur que tu as quand même...<br><br>
				Tu vois, en faisant une analyse finale, c'est une histoire avec toi-même, cela n'a jamais été une histoire avec les autres.<br><br>


<span style="float: right;">Mère Theresa</span>



		         	<br><br></div>
		       
		    </fieldset>
		 
		    
		 
		   
	    </form>

	    <span id="span"></span><br>





    </div>

</div>	

</template>