<template name="side_bar_right">

<div class="side-bar-right" >

     <div class="new-top-conseillere">
     <div class="new-conseillere"> Derniers conseillers inscrits</div>
       <div class="scroll-top-conseillere">                     
            {{#each New_conseillers}}
                 {{> ItemSideBarRight}}
            {{/each}}
       
        </div>
    </div>

</div>


</template>

<template name="ItemSideBarRight">
{{#if is_fille gender}} 
        <div class="new-conseillere-content-fille">
            <div class="new-conseillere-header">
                {{#if currentUser}}
                <div class="top-conseillere-number-fille"><a href="{{pathFor 'presentation' post_author=user_id}}">{{username}}</a></div>
                {{else}}
                <div class="top-conseillere-number-fille"><a href="">{{username}}</a></div>
                {{/if}}
            </div>

            <div class="new-conseillere-presentation">{{ limite_caractere_conseillere presentation}}</div> 
            <div class="new-conseillere-footer">
            
            <div class="new-conseillere-profil">{{date_francais date}}</div>
               
            </div>
        </div>
{{/if}}

{{#if is_garcon gender}} 
        <div class="new-conseillere-content-garcon">
            <div class="new-conseillere-header">
                {{#if currentUser}}
                <div class="top-conseillere-number"><a href="{{pathFor 'presentation' post_author=user_id}}">{{username}}</a></div>
                {{else}}
                <div class="top-conseillere-number"><a href="">{{username}}</a></div>
                {{/if}}
            </div>

            <div class="new-conseillere-presentation">{{ limite_caractere_conseillere presentation}}
            
            </div> 
            <div class="new-conseillere-footer">
            
               <div class="new-conseillere-profil">{{date_francais date}}</div>
              
            </div>
        </div>
{{/if}}
</template>