<template name="supprimer_mon_compte">

{{> side_bar_right }}
{{> side_bar_left }}

<div class="container-messages-acceuil">

    <div class="register blanc">

        <form id="contact" method="post" action="message_envoye_contact.php">

            <fieldset><legend style="color: #0a68b4"><b>Supprimer mon compte </b></legend>
                  <div class="btn btn-danger btn-sm suprim_compte">Supprimer mon compte </div><br/>
               
            </fieldset>
         
            <fieldset>
                <strong> </strong><br/>
                
            </fieldset>
         
           
        </form>

        <span id="span"></span>

    </div>

</div>  

</template>