<template name="supprimer_compte">
{{classement}} 
{{> side_bar_right }}
{{> side_bar_left }}

<div class="container-messages" style="margin-top: 50px;">

    <div class="register-form blanc">
        <form action="confirm_delete_account.php"  method="POST"  >
            <legend style="color: #0a68b4"><b>Supprimer mon compte</b></legend>
            <input type="submit" name="delete_account" value="suppimer mon compte" class="btn btn-danger" /> <br><br><br>
            
        </form>
        
    </div>

</div>



</template>