<template name="avertissement">
{{#if my_id this._id}}
        {{>profil}}
{{/if}}
	<div class="container-messages-profil {{visite_profil}}">
            <!-- Simple post content example. -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                       
                    </div>
                    {{#if my_id this._id}}
                    <h4><a href="#" style="text-decoration:none;"><strong>Avertissements<span style="color: red; margin-left: 10px">{{count_avertissement}}</span></strong></a></h4>      
                    <hr>
                    {{else}}
                    <h4><a href="#" style="text-decoration:none;"><strong>{{name_user }} :  Avertissements<span style="color: red; margin-left: 10px">{{count_avertissement}}</span></strong></a></h4>      
                    <hr>
                    {{/if}}

                    <div class="post-content">
                       Si tu ne respect pas les conditions d'utilisation, ton compte sera supprimé au bout de 3 avertissements.<br>
                            <td>
                             <div class="avertissement"></div>
                               
                                {{#if count_0}}
                               <div class="triangle-vert"> </div>  
                                 {{else}}
                                <div class="triangle-vert" style="visibility: hidden;"></div>   
                                 {{/if}}
                                <img src="/emoticones/1f600.png" width="40" height="40">
                                
                              </td>

                              <td>
                               
                                <div class="avertissement"></div>
                                 {{#if count_1}}
                               <div class="triangle-vert"> </div>  
                                 {{else}}
                                <div class="triangle-vert" style="visibility: hidden;"></div>   
                                 {{/if}}
                                <img src="/emoticones/1f61f.png" width="40" height="40">
                                
                              </td>

                              <td>
                               
                                <div class="avertissement"></div>
                                {{#if count_2}}
                               <div class="triangle-vert"> </div>  
                                 {{else}}
                                <div class="triangle-vert" style="visibility: hidden;"></div>   
                                 {{/if}}
                                <img src="/emoticones/1f61e.png" width="40" height="40">
                                
                              </td>

                              <td>
                                <div class="avertissement"></div>
                                <div class="triangle-vert" style="visibility: hidden;"></div>      
                                <img src="/emoticones/1f621.png" width="40" height="40"><br>
                            </td>
                    </div>
                </div>
            </div>
       </div> 

</template>