<template name="commentaires">
{{#if my_id this._id}}
        {{>profil}}
{{/if}}
	 <div class="container-messages-profil {{visite_profil}}">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">

                    {{#if my_id this._id}}
                    <h4><a href="#" style="text-decoration:none;"><strong>Commentaires <span style="color: red; margin-left: 10px">{{count_mes_commentaires}}</span></strong></a></h4>
                    {{else}}
                    <h4><a href="#" style="text-decoration:none;"><strong>{{name_user }} :  Commentaires <span style="color: red; margin-left: 10px">{{count_mes_commentaires}}</span></strong></a></h4>
                    {{/if}}

            </div>
            </div>
                   
                   {{#if my_id this._id}}
                         {{#each mes_commentaires}}
                            {{> ItemCommentaire}}
                         {{/each}}
                    {{else}}
                        {{#each commentaires}}
                            {{> ItemCommentaire}}
                        {{/each}}
                    {{/if}}
       </div> 

</template>

                        
<template name="ItemCommentaire">
     <div class="message-gauche">

      <div class="container-messages-gauche">
        {{#if gender_garcon}} 
             <div class="titre_message_container"><div class="username_garcon" >{{from_name}}</div></div> 
        {{/if}}

        {{#if gender_fille}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{from_name}}</div></div> 
        {{/if}}

            <div class="content-message-gauche"> {{{breaklines commentaire}}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{date_francais date}}</div>  
                
                <div class="nbr-reponse"></div>
               {{#if my_id this.to_id}}
                 <div class="repondre profil_ami btn btn-success btn-xs">Message</div>
                {{/if}}
           </div>
               
        </div>

    </div>

</template>