<template name="compte_bancaire">
{{>profil}}
<!--{{cart}}   -->
	 <div class="container-messages-profil">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">
                <span class="ajout_CB">Enregistrer une carte bancaire : <span style="color: red"> Faire des dons </span></span>   
               </div>
            </div>
                    {{#if is_carte_CB}}
                      {{> carte_ok}}
                    {{else}}
                      {{> ItemCompteBancaire}}
                    {{/if}}
            
    </div>

    <div class="container-messages-pay">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">
                <span class="ajout_CB">Enregistrer un compte bancaire : <span style="color: red"> Recevoir des dons </span></span>   
               </div>
            </div>

                    {{#if is_bank_account}}
                      {{> bank_ok}}
                    {{else}}
                      {{> ItemIBAN}}
                    {{/if}}
 
    </div>

</template>

<template name="ItemCompteBancaire">
        <div class="pull-left"> <p></p></div>
                    
 <div class="message-gauche-pay">

      <div class="container-messages-gauche">
        

            <div class="content-message-gauche">
             <div class="">
  <form class="form-horizontal" role="form">
    <fieldset>
      <strong>Ajouter une carte bancaire pour effectuer un don :</strong><br><br>
      <div class="form-group">
        <label class="control-label cart_form" for="card-holder-name">Nom</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Nom sur la carte">
        </div>
      </div>
      <div class="form-group">
        <label class=" control-label cart_form" for="card-number">Numéro</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Numéro de la carte">
        </div>
      </div>
      <div class="form-group">
        <label class=" control-label cart_form" for="expiry-month">Date d'expiration</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                <option>Mois</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" name="expiry-year">
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="24">2024</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label cart_form" for="cvv">Code CVV</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Code CVV">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
         
                  <input type="submit" name="submit" value="Valider" id="submitCard" class="btn btn-primary " />
                  <input type="submit" name="submit" value="Confirmer" id="submitCard1" class="btn btn-success valid2 " style="display: none;" />        
                
        </div>
      </div> <br><br><br><img src="/mangopay.png" style="width: 350px;">       
    </fieldset>
  </form>
</div>



           </div>
               
        </div>

    </div>

</template>    


<template name="ItemIBAN">
   <div class="message-gauche-pay">
      <div class="container-messages-gauche">
            <div class="content-message-gauche">
                <form id="ibanForm" class="form-horizontal">
                  <strong>Ajouter un compte bancaire pour recevoir des dons :</strong><br><br>
                  
                  <div class="form-group">
                      <label class="col-xs-3 control-label">Nom :</label>
                      <div class="col-xs-7">
                          <input type="text" class="form-control" name="nom"  placeholder="Nom"/>
                      </div><br>
                  </div>

                  <div class="form-group">
                      <label class="col-xs-3 control-label">Prénom :</label>
                      <div class="col-xs-7">
                          <input type="text" class="form-control" name="prenom" placeholder="Prénom" />
                      </div><br>
                  </div>

                  <div class="form-group">
                      <label class="col-xs-3 control-label">Adresse :</label>
                      <div class="col-xs-7">
                          <input type="text" class="form-control" name="adresse" placeholder="Adresse" />
                      </div><br>
                  </div>

                  <div class="form-group">
                      <label class="col-xs-3 control-label">Ville :</label>
                      <div class="col-xs-7">
                          <input type="text" class="form-control" name="ville"  placeholder="Ville"/>
                      </div><br>
                  </div>

                  <div class="form-group">
                      <label class="col-xs-3 control-label">Code postal :</label>
                      <div class="col-xs-7">
                          <input type="text" class="form-control" name="code" placeholder="Code postal" />
                      </div><br>
                  </div>

                  <div class="form-group">
                      <label class="col-xs-3 control-label" style="margin-top: -10px">Pays :</label>
                      <select id="pays" class="selectpicker">
                        <option value="FR" selected>France</option> 
                        <option value="BE" >Belgique</option>
                      </select>
                  </div>


                  <div class="form-group">
                      <label class="col-xs-3 control-label">IBAN :</label>
                      <div class="col-xs-7">
                          <input type="text" class="form-control" name="iban" required placeholder="IBAN"/>
                      </div><br>
                  </div><div id="reponse_iban" >ee</div>


                  

                  <input type="submit" name="submit" value="Valider" id="valid_iban" class="btn btn-primary " />
              </form>
      </div>
    </div>
  </div>
</template>

<template name="carte_ok">
   <div class="message-gauche-pay">
      <div class="container-messages-gauche">
      <div class="content-message-gauche">
           Vous avez enregistré une carte bancaire. Vous pouvez envoyer des dons.     

      </div>
    </div>
  </div>
</template>

<template name="bank_ok">
   <div class="message-gauche-pay">
      <div class="container-messages-gauche">
      <div class="content-message-gauche">
                Vous avez enregistré un compte bancaire. Vous pouvez recevoir des dons.
      </div>
    </div>
  </div>
</template>