<template name="compte_bancaire">
{{>profil}}
	 <div class="container-messages-profil">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">
                  <h4><a href="#" style="text-decoration:none;"><strong>Ajouter / Modifier mon compte</strong></a></h4>      
               </div>
            </div>
                    
                      {{> ItemCompteBancaire}}
                    
       </div>

</template>

<template name="ItemCompteBancaire">
        <div class="pull-left"> <p></p></div>
                    
 <div class="message-gauche">

      <div class="container-messages-gauche">
        

            <div class="content-message-gauche"> Bientôt disponible</div>
            
          <div class="footer-message_acceuil">
                
                
                
              
                 
           </div>
               
        </div>

    </div>

</template>    