<template name="mes_favoris">
{{>profil}}
	 <div class="container-messages-profil">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                
                  <h4><a href="#" style="text-decoration:none; padding-left: 10px;"><strong>Mes favoris<span style="color: red; margin-left: 10px">{{count_favoris}}</span></strong></a></h4>  
               
            </div>
                    {{#each mes_favoris}}
                      {{> ItemFavoris}}
                    {{/each}}

       </div>

</template>

<template name="ItemFavoris">
        <div class="pull-left"> <p></p></div>
                    
 <div class="message-gauche">

      <div class="container-messages-gauche">
        {{#if gender_garcon}} 
             <div class="titre_message_container"><div class="username_garcon" >{{author_name}}</div></div> 
        {{/if}}

        {{#if gender_fille}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{author_name}}</div></div> 
        {{/if}}

            <div class="content-message-gauche"> {{{breaklines content}}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{{date_francais post_date}}}</div>  
                
                <div class="nbr-reponse"></div>
                
                 <div class="repondre profil_favoris btn btn-success btn-xs"><a href="{{pathFor 'presentation' post_author=id_author}}">Profil</a></div>
                 <div class="supprimer_favoris repondre btn btn-danger btn-xs">supprimer</div>
           </div>
               
        </div>

    </div>

</template>    