<template name="ils_ont_aide">
{{>profil}}
    <div class="container-messages-profil">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">
                    <div class="pull-left">
                        
                    </div>
                    <h4><a href="#" style="text-decoration:none;"><strong>Ils m'ont aidé<span style="color: red; margin-left: 10px">{{count_liste_personne_aide}}</span></strong></a></h4>
                    </div>
            </div>

                    {{#each liste_personne_aide}}
                      {{> commentsItemAide}}
                    {{/each}}
            
    </div>
</template>

<template name="commentsItemAide"> 
                        
<div class="message-gauche">

      <div class="container-messages-gauche">
        {{#if gender_garcon}} 
             <div class="titre_message_container"><div class="username_garcon" >{{author}}</div></div> 
        {{/if}}

        {{#if gender_fille}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{author}}</div></div> 
        {{/if}}

            <div class="content-message-gauche"> {{{breaklines comments}}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{date_francais submitted}}</div>  
                
                <div class="nbr-reponse"></div>
            
                 <div class="repondre profil_ami btn btn-success btn-xs">Message</div>

           </div>
               
        </div>

    </div>

</template>