<template name="messages_poste">
{{#if my_id this._id}}
        {{>profil}}
{{/if}}
	 <div class="container-messages-profil {{visite_profil}}">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">
                    <div class="pull-left">
                        
                    </div>
                    {{#if my_id this._id}}
                    <h4><a href="#" style="text-decoration:none;"><strong>Messages postés<span style="color: red; margin-left: 10px">{{count_mes_messages}}</span></strong></a></h4>
                    {{else}}
                    <h4><a href="#" style="text-decoration:none;"><strong>{{name_user }} :  Messages postés<span style="color: red; margin-left: 10px">{{count_mes_messages}}</span></strong></a></h4>
                    {{/if}}

                </div>
            </div>

                    {{#each mes_messages}}
                      {{> messagePosteItem}}
                    {{/each}}
             
    </div>
</template>

<template name="messagePosteItem">    
                    
                        
<div class="message-gauche">

      <div class="container-messages-gauche">
      {{#if is_garcon_global}} 
             <div class="titre_message_container"><div class="username_garcon" >{{post_title}}</div><div class="categorie_msg"  >{{categorie}}</div> </div> 
        {{/if}}

        {{#if is_fille_global}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{post_title}}</div><div class="categorie_msg"  >{{categorie}}</div> </div> 
        {{/if}}

            <div class="content-message-gauche"> {{breaklines post_content}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{date_francais post_date}}</div>  
                
                <div class="nbr-reponse"></div>
               {{#if my_id post_author}}
                 <div class="repondre profil_ami btn btn-success btn-xs">Les réponses</div>
                 <div class="supprimer_ami repondre btn btn-danger btn-xs">supprimer</div>
                {{/if}}
           </div>
               
        </div>

    </div>

</template>