<template name="visites">
{{>profil}}
	 <div class="container-messages-profil">
            <!-- Simple post content example. -->
            <div class="panel panel-default panelBot">
                <div class="panel-body">
                  <h4><a href="#" style="text-decoration:none;"><strong>Visites sur mon profil<span style="color: red; margin-left: 10px">{{count_visites}}</span></strong></a></h4>      
               </div>
            </div>
                    {{#each visites}}
                      {{> Itemvisites}}
                    {{/each}}

       </div>

</template>

<template name="Itemvisites">
        <div class="pull-left"> <p></p></div>
                    
 <div class="message-gauche">

      <div class="container-messages-gauche">
        {{#if gender_garcon}} 
             <div class="titre_message_container"><div class="username_garcon" >{{name_from_id}}</div></div> 
        {{/if}}

        {{#if gender_fille}} 
           <div class="titre_message_container_fille"><div class="username_fille" >{{name_from_id}}</div></div> 
        {{/if}}

            <div class="content-message-gauche"> {{{breaklines presentation}}}</div>
            
          <div class="footer-message_acceuil">
                <div class="date-message">{{{date_francais_heures post_date}}}</div>  
                
                <div class="nbr-reponse"></div>
              
                 <div class="repondre profil_ami btn btn-success btn-xs">Message</div>
           </div>
               
        </div>

    </div>

</template>    