<template name="postPage">
{{classement}}  
{{> side_bar_right }}
{{> side_bar_left }}
<div class="container-messages-acceuil affiche">
    {{> postContent}}


{{> commentSubmit}}
<br>

  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>
</div>

</template>





<template name="commentItem">

<div class="message-gauche">

    <div class="container-messages-gauche">
    
    {{#if is_garcon gender}}
          {{#if currentUser}}
          <div class="titre_message_container" style="color: #2196f3"><a href="{{pathFor 'profil' post_author=this.userId}}">{{author}}</a></div> 
          {{else}}
          <div class="titre_message_container" style="color: #2196f3"><a href="">{{author}}</a>   </div>      
          {{/if}}
             {{#if currentUser}}
            <button class="btn signaler-connect {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button>
            {{/if}}
     {{/if}}
     
     {{#if is_fille gender}}
         {{#if currentUser}}
         <div class="titre_message_container_fille" style="color: #ff6af1"><a href="{{pathFor 'profil' post_author=this.userId}}" style="color: #ff6af1" >{{author}}</a></div> 
         {{else}}
         <div class="titre_message_container_fille" style="color: #ff6af1"><a href="" style="color: #ff6af1" >{{author}}</a></div> 
         {{/if}}    
            {{#if currentUser}}
            <button class="btn signaler-connect {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button>
            {{/if}}
       
     {{/if}}
      
      <div class="content-message-gauche"> {{{breaklines comments}}} {{{breaklines body}}}</div>
        
      <div class="footer-message_acceuil">
              
          <div class="date-message">{{date_francais submitted }}</div>  

          <div class="thumbs">
            <a href="#" class="btn btn-xs  btn-success upvote {{upvotedClass}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
            <a href="#" class="btn btn-xs  btn-danger upvote {{downvotedClass}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
          </div>
           <div class="result-vote"> {{count votes }} </div> 
            {{#if currentUser}}
                  <div class="btn btn-success btn-xs modifier_message private_com ecran"><a href="{{pathFor 'messagerie' post_author=this.userId}}" class="">Message privé</a></div>
                  <div class="modifier_message private_com mobile_lien "><a href="{{pathFor 'messagerie_mobile' post_author=this.userId}}" class=""><i class="fa fa-comment-o" aria-hidden="true"></i> Privé</a></div>
                  
                  <div class="favoris"><i class="fa {{etoile_favoris}} star" aria-hidden="true"></i> {{favoris}}</div>

            {{/if}}
          
       </div>
           
       </div>

</div>








</template>