<template name="postsList">
{{calcul_confiance }}
{{> side_bar_right }}
{{> side_bar_left }}

{{#if currentUser}}
    {{#if is_conseiller}}
     <div style="margin-top: 20px; height: 10px;"></div>
    {{else}}
    <div class="btn btn-block btn-primary mobile_lien devenir_conseiller_accueil"><a href="{{pathFor 'devenir_conseillere_mobile' }}">Devenir conseiller</a></div>
    
    {{/if}}
{{/if}}

<div class="container-messages-acceuil">
	{{> postSubmit}}
  <!--{{#if currentUser}}{{else}}<div style="margin-top: 80px;"></div>{{/if}}-->
  <!--<a href="{{pathFor 'le_secret_de_cendrillon'}}"><img src="/livre-pub.png" class="test"></a>-->
    <div class="containeur_acceuil">
      <span class="mobile_lien"></span>
        {{#each posts}}
          {{> postItem}}
        {{/each}}
      {{#if nextPath}}
          <a class="load-more" href="{{nextPath}}">Voir plus</a>
        {{else}}
          {{#unless ready}}
            {{> spinner}}
          {{/unless}}
        {{/if}}
    </div>
</div>

</template>


<template name="postItem">
 {{supprimer_message _id}}
  <div class="message-gauche">



    <div class="container-messages-gauche">
    {{#if is_garcon gender}} 
          
          <div class="titre_message_container ecran" style="color: #2196f3"><a href="{{pathFor 'postPage' }}">{{post_title}}</a>
          <div class="categorie_msg"  >{{categorie}}</div> 
          {{#if currentUser}}
          <button class="btn signaler {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button>
          {{/if}}
          </div>

          <div class="titre_message_container mobile_lien" style="color: #2196f3"><a href="{{pathFor 'postPage_mobile' }}">{{post_title}}</a>
          </div>



      {{/if}}

        {{#if is_fille gender}} 
          <div class="titre_message_container_fille ecran" style="color: #ff6af1"><a href="{{pathFor 'postPage' }}">{{post_title}}</a>
          <div class="categorie_msg"  >{{categorie}}</div> 
         {{#if currentUser}}
         <button class="btn signaler {{deja_signale}} dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button> 
         {{/if}}
         </div> 

          <div class="titre_message_container_fille mobile_lien" style="color: #ff6af1"><a href="{{pathFor 'postPage_mobile' }}">{{post_title}}</a>
         </div> 



      {{/if}}

      <div class="content-message-gauche"> {{{limite_caractere_acceuil post_content}}} ...</div>
        
      <div class="footer-message_acceuil">
            <div style="display: block;">
             
              {{#if user_not_disponible post_author}}
                <div class="repondre aider_message btn btn-sm btn-primary button_right ecran"><a href="{{pathFor 'postPage' }}">Aider</a></div>
                  <div class="repondre aider_message button_right mobile_lien"><a href="{{pathFor 'postPage_mobile'}}"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Aider</a></div>

                {{else}}
                <div class="repondre aider_message btn btn-sm btn-primary button_right ecran"><a href="{{pathFor 'postPage' }}">Aider</a></div>
                <div class="repondre aider_message button_right mobile_lien"><a href="{{pathFor 'postPage_mobile'}}"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Aider</a></div>
                {{#if currentUser}}
                  <div class="btn btn-success btn-xs modifier_message private_message ecran"><a href="{{pathFor 'messagerie'}}" class="">Message privé</a></div>
                  <div class="modifier_message private_message mobile_lien "><a href="{{pathFor 'messagerie_mobile' post_author=this.post_author}}" class=""><i class="fa fa-comment-o" aria-hidden="true"></i> Privé</a></div>
                {{/if}}
                 {{/if}}

                {{#if currentUser}}
                        <button class="btn signaler_mobile {{deja_signale}} dropdown-toggle mobile_lien " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="demande" type="button"> {{text_signale}}</button>
                {{/if}} 

               <div class="date-message mobile_lien"><i class="fa fa-clock-o" aria-hidden="true"></i> {{date_francais post_date }}</div>
            
                <!--{{#if ownPost}} <div class="btn btn-warning btn-xs modifier_message "> <a href="{{pathFor 'postEdit'}}">Modifier</a></div> {{/if}}-->
            </div><br>


            <div class="footer_mobile_left">
                
                <span class="ecran">
                    {{#if is_fille gender}} 
                        {{#if currentUser}}
                        <a href="{{pathFor 'presentation' }}" style="color: #ff6af1; margin-left: 15px;"  class="ecran">{{author_name}}</a>
                        {{else}}
                        <a href="" style="color: #ff6af1; margin-left: 15px;"  class="ecran">{{author_name}}</a>
                        {{/if}}
                    {{/if}}

                    {{#if is_garcon gender}} 
                        {{#if currentUser}}
                      <a href="{{pathFor 'presentation' }}" style="margin-left: 5px;">{{author_name}}</a>
                        {{else}}
                      <a href="" style="margin-left: 15px;">{{author_name}}</a>
                        {{/if}}
                    {{/if}}
                </span>

                <span class="mobile_lien footer_mobile_second"> 
                  <span class="block_footer">
                      {{#if is_fille gender}} 
                         {{#if currentUser}}
                          <span class="mobile_author"><a href="{{pathFor 'profil_mobile' }}" style="color: #ff6af1; margin-left: 15px;" >{{author_name}}</a></span>
                          {{else}}
                          <span class="mobile_author"><a href="" style="color: #ff6af1; margin-left: 15px;" >{{author_name}}</a></span>
                          {{/if}}
                         
                      {{/if}}

                      {{#if is_garcon gender}}

                          {{#if currentUser}}
                        <a href="{{pathFor 'profil_mobile' }}" style="margin-left: 15px;">{{author_name}}</a>
                          {{else}}
                        <a href="" style="margin-left: 15px;">{{author_name}}</a>
                          {{/if}}
                         
                      {{/if}}
                  </span> 
                 
                  <span class="block_footer">    
                     <div class="categorie_msg mobile_lien"  >{{categorie}}</div>  
                  </span> 

                  <span class="block_footer"> 
                          {{#if is_fille gender}} 
                      <div class="nbr-reponse">
                       <a href="{{pathFor 'postPage'}}" style="color: #ff6af1; " class="ecran">{{pluralize commentsCount "réponse"}}</a>
                       <a href="{{pathFor 'postPage_mobile'}}" style="color: #ff6af1; " class="mobile_lien">{{pluralize commentsCount "réponse"}}</a>
                      </div>
                      {{/if}}

                      {{#if is_garcon gender}} 
                      <div class="nbr-reponse">
                       <a href="{{pathFor 'postPage'}}" class="ecran">{{pluralize commentsCount "réponse"}}</a>
                       <a href="{{pathFor 'postPage_mobile'}}" class="mobile_lien">{{pluralize commentsCount "réponse"}}</a>
                      </div>
                      {{/if}}
                  </span>  

                </span>
              
                <div class="date-message ecran">{{date_francais post_date }}</div>  
                
                {{#if is_fille gender}} 
                <div class="nbr-reponse ecran">
                 <a href="{{pathFor 'postPage'}}" style="color: #ff6af1; " class="ecran">{{pluralize commentsCount "réponse"}}</a>
                 <a href="{{pathFor 'postPage_mobile'}}" style="color: #ff6af1; " class="mobile_lien">{{pluralize commentsCount "réponse"}}</a>
                </div>
                {{/if}}

                {{#if is_garcon gender}} 
                <div class="nbr-reponse ecran">
                 <a href="{{pathFor 'postPage'}}" class="ecran">{{pluralize commentsCount "réponse"}}</a>
                 <a href="{{pathFor 'postPage_mobile'}}" class="mobile_lien">{{pluralize commentsCount "réponse"}}</a>
                </div>
                {{/if}}
            </div>
         
         
       </div>
           
  </div>


</div>
</template>